Repository pytorch/tutorials, pull requests merged in 2022-09, with the labels that each got.

#2029 Typo fix on FSDP_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed

#2026 DQN tutorial fixes
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed

#1772 Fix quantization tutorials (imports, syntax, and style)
  advanced_source/static_quantization_tutorial.rst
  prototype_source/fx_graph_mode_ptq_static.rst
Labels: cla signed

#2032 make wget less verbose
  Makefile
Labels: cla signed, ci

#2031 [ci] script to validate tutorials were built in > 0 sec
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
Labels: cla signed, ci

#2035 Update cpp_autograd.rst
  advanced_source/cpp_autograd.rst
Labels: cla signed

#2036 Update nestedtensor to_padded calls
  prototype_source/nestedtensor.py
Labels: cla signed

#2039 Update runtime.txt
  runtime.txt
Labels: cla signed

#2028 Fix typo in audio_data_augmentation_tutorial.
  beginner_source/audio_data_augmentation_tutorial.py
Labels: cla signed, grammar

#2038 Enable intersphinx_mapping to PyTorch and domain libraries
  conf.py
Labels: cla signed

#2034 [ci] Run all python files in the *_source folders
  .jenkins/build.sh
  .jenkins/metadata.json
  .jenkins/validate_tutorials_built.py
  conf.py
Labels: cla signed

#2041 Fixed small typo in code block ("TorchTec" -> "TorchRec")
  intermediate_source/torchrec_tutorial.rst
Labels: cla signed, grammar

#2040 Add sphinx_design
  requirements.txt
Labels: cla signed

#2048 Update ios_coreml_workflow.rst
  prototype_source/ios_coreml_workflow.rst
Labels: cla signed

#2056 Add css for cards
  _static/css/custom.css
  conf.py
Labels: cla signed

#2049 Add DDP tutorial series (video)
  _static/css/custom.css
  beginner_source/ddp_series_fault_tolerance.rst
  beginner_source/ddp_series_intro.rst
  beginner_source/ddp_series_multigpu.rst
  beginner_source/ddp_series_theory.rst
  index.rst
  intermediate_source/ddp_series_minGPT.rst
  intermediate_source/ddp_series_multinode.rst
Labels: cla signed

#2002 Fix same memory location error
  advanced_source/ddp_pipeline.py
Labels: cla signed

#2059 Remove obsolete import
  beginner_source/basics/optimization_tutorial.py
Labels: cla signed, intro

#2061 Build TextToSpeech tutorial
  .jenkins/validate_tutorials_built.py
  requirements.txt
Labels: cla signed

#2060 Add jupyter cell for deep_phonemizer
  conf.py
  intermediate_source/text_to_speech_with_torchaudio.py
Labels: cla signed
