Repository pytorch/tutorials, pull requests merged in 2022-10, with the labels that each got.

#2062 Cast `torch.__version__` to string
  conf.py
Labels: cla signed

#2064 Fix typos
  beginner_source/introyt/autogradyt_tutorial.py
Labels: cla signed, grammar

#2066 Add detail about set_epoch in the DDP tutorial series
  beginner_source/ddp_series_multigpu.rst
Labels: cla signed

#1997 Add Distributed tutorials landing page
  _static/css/custom.css
  conf.py
  distributed/home.rst
  index.rst
Labels: cla signed, Distributed Training

#2067 Re-enable `reinforcement_q_learning` tutorial
  .jenkins/validate_tutorials_built.py
  intermediate_source/reinforcement_q_learning.py
  requirements.txt
Labels: cla signed

#2063 Update quickstart_tutorial.py
  beginner_source/basics/quickstart_tutorial.py
Labels: cla signed, intro

#1921 Update buildmodel_tutorial.py
  beginner_source/basics/buildmodel_tutorial.py
Labels: cla signed

#2071 Update `Tensor Gradients and Jacobian Products` example
  beginner_source/basics/autogradqs_tutorial.py
Labels: cla signed

#1935 update api usage example of intel_extension_for_pytorch recipe
  recipes_source/intel_extension_for_pytorch.rst
Labels: cla signed

#2075 Update RL Mario Tutorial
  intermediate_source/mario_rl_tutorial.py
Labels: cla signed

#2076 Reenable forward_ad_usage
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2073 update rl tutorial to last gym version
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed

#2080 Updating WaveGlow checkpoint to latest
  intermediate_source/text_to_speech_with_torchaudio.py
Labels: cla signed

#1954 Fixes issue #1868 regarding TypeError: ZipperIterDataPipe
  beginner_source/translation_transformer.py
Labels: cla signed

#2082 Update fgsm_tutorial.py
  beginner_source/fgsm_tutorial.py
Labels: cla signed

#2079 TorchServe IPEX Blog #2
  _static/img/torchserve-ipex-images-2/1.png
  _static/img/torchserve-ipex-images-2/10.png
  _static/img/torchserve-ipex-images-2/11.png
  _static/img/torchserve-ipex-images-2/12.png
  _static/img/torchserve-ipex-images-2/13.png
  _static/img/torchserve-ipex-images-2/14.png
  _static/img/torchserve-ipex-images-2/15.png
  _static/img/torchserve-ipex-images-2/16.png
  _static/img/torchserve-ipex-images-2/17.png
  _static/img/torchserve-ipex-images-2/18.png
  _static/img/torchserve-ipex-images-2/19.png
  _static/img/torchserve-ipex-images-2/2.png
  _static/img/torchserve-ipex-images-2/20.png
  _static/img/torchserve-ipex-images-2/21.png
  _static/img/torchserve-ipex-images-2/22.png
  _static/img/torchserve-ipex-images-2/23.png
  _static/img/torchserve-ipex-images-2/24.png
  _static/img/torchserve-ipex-images-2/3.png
  _static/img/torchserve-ipex-images-2/4.png
  _static/img/torchserve-ipex-images-2/5.png
  _static/img/torchserve-ipex-images-2/6.png
  _static/img/torchserve-ipex-images-2/7.png
  _static/img/torchserve-ipex-images-2/8.png
  _static/img/torchserve-ipex-images-2/9.png
  index.rst
  intermediate_source/torchserve_with_ipex_2.rst
Labels: cla signed

#2068 Fix cards in the Deep Learning intro tutorial
  beginner_source/deep_learning_60min_blitz.rst
Labels: cla signed

#2084 Fix links in cards
  beginner_source/deep_learning_60min_blitz.rst
Labels: cla signed

#2085 Add intermediate/torchserve_with_ipex to toctree
  index.rst
Labels: cla signed

#2086 Modernize cifar10_tutorial
  beginner_source/blitz/cifar10_tutorial.py
Labels: cla signed, regression

#2087 Update next(iter) to align with Python3
  beginner_source/introyt/introyt1_tutorial.py
  beginner_source/introyt/tensorboardyt_tutorial.py
  beginner_source/introyt/trainingyt.py
  intermediate_source/tensorboard_tutorial.rst
Labels: cla signed, regression

#2091 Pin importlib_metadata<5.0 in requirements.txt
  requirements.txt
Labels: cla signed, 1.13

#2096 Fix typo
  recipes_source/recipes/saving_multiple_models_in_one_file.py
Labels: cla signed

#2098 [1.13] Update nvfuser tutorial
  intermediate_source/nvfuser_intro_tutorial.py
Labels: cla signed

#2099 Update PG backend extension tutorial for 1.13 release
  intermediate_source/process_group_cpp_extension_tutorial.rst
Labels: cla signed, 1.13

#2072 add ITT recipe
  _static/img/itt_tutorial/vtune_config.png
  _static/img/itt_tutorial/vtune_start.png
  _static/img/itt_tutorial/vtune_timeline.png
  recipes_source/profile_with_itt.rst
  recipes_source/recipes_index.rst
Labels: cla signed, 1.13

#2054 Add torchmultimodal tutorial for flava finetuning
  Makefile
  beginner_source/flava_finetuning_tutorial.py
  index.rst
  requirements.txt
Labels: cla signed, torchmultimodal, 1.13

#2102 Move from Xenial to Bionic as base image
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#2050 [maskedtensor] Overview tutorial [1/4]
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
  prototype_source/maskedtensor_overview.py
  prototype_source/prototype_index.rst
  requirements.txt
Labels: cla signed, 1.13

#2052 [maskedtensor] Adagrad sparse semantics [3/4]
  prototype_source/maskedtensor_adagrad.py
  prototype_source/prototype_index.rst
Labels: cla signed, 1.13

#2053 [maskedtensor] Advanced semantics [4/4]
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
  prototype_source/maskedtensor_advanced_semantics.py
  prototype_source/prototype_index.rst
Labels: cla signed, 1.13

#2051 [maskedtensor] Sparsity tutorial [2/4]
  .jenkins/build.sh
  prototype_source/maskedtensor_sparsity.py
  prototype_source/prototype_index.rst
Labels: cla signed, 1.13

#2106 Add tags to the maskedtensor tutorials
  prototype_source/prototype_index.rst
Labels: cla signed

#2107 [cheery-pick]update NS for FX tutorial for PyTorch v1.13 (#2089)
  .jenkins/validate_tutorials_built.py
  prototype_source/fx_numeric_suite_tutorial.py
Labels: cla signed
