Repository pytorch/tutorials, pull requests merged in 2022-12, with the labels that each got.

#2133 Add Dynamo Tutorial
  .jenkins/validate_tutorials_built.py
  index.rst
  intermediate_source/dynamo_tutorial.py
  intermediate_source/dynamo_tutorial.rst
Labels: cla signed

#2131 Fix super tiny typo (one ".")
  beginner_source/basics/buildmodel_tutorial.py
Labels: cla signed, grammar

#2136 Add a link to PyTorch Tutorials user survey
  index.rst
Labels: cla signed

#2138 Fix typo "tesors" -> "tensors"
  beginner_source/translation_transformer.py
Labels: cla signed

#2134 Change dynamo tutorial to use torch.compile
  .jenkins/validate_tutorials_built.py
  index.rst
  intermediate_source/dynamo_tutorial.rst
  intermediate_source/torch_compile_tutorial.rst
  intermediate_source/torch_compile_tutorial_.py
Labels: cla signed

#2118 update for ipex gpu release
  recipes_source/intel_extension_for_pytorch.rst
Labels: cla signed

#2135 fix url
  beginner_source/dist_overview.rst
Labels: cla signed

#2145 [Refactoring] Improve training of DQN tutorial (2030 copy)
  _static/img/reinforcement_learning_diagram.drawio
  _static/img/reinforcement_learning_diagram.jpg
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed

#2139 Add mention of Google Colab option
  beginner_source/basics/intro.py
Labels: cla signed

#2130 Update tensorqs_tutorial.py
  beginner_source/basics/tensorqs_tutorial.py
Labels: cla signed

#2147 Add comment on using torch.utils.benchmark
  intermediate_source/torch_compile_tutorial.rst
  intermediate_source/torch_compile_tutorial_.py
Labels: cla signed

#2148 Assist users in contributing new tutorials
  CONTRIBUTING.md
Labels: cla signed

#2155 Update torchmetrics callsite to fix error due to BC-breaking changes
  intermediate_source/mnist_train_nas.py
Labels: cla signed, ax

#2144 Fix a display bug which cannot update figure correctly
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, rl

#2149 Enable ax tutorial
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2157 Fix minor typo
  prototype_source/README.md
Labels: cla signed

#2159 Prep for master->main rename
  .circleci/config.yml
  .circleci/config.yml.in
  .circleci/regenerate.py
  .jenkins/build.sh
Labels: cla signed

#2158 Minor updates to README.md
  README.md
Labels: cla signed

#2161 torch.compile tutorial optimizer update
  intermediate_source/torch_compile_tutorial.rst
  intermediate_source/torch_compile_tutorial_.py
Labels: cla signed

#2162 Fix grammar in reinforcement learning tutorial
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed
