Repository pytorch/tutorials, pull requests merged in 2023-04, with the labels that each got.

#2276 Standardise "Introduction to PyTorch" to use GPU, MPS or CPU
  beginner_source/basics/buildmodel_tutorial.py
  beginner_source/basics/quickstart_tutorial.py
Labels: cla signed, mps

#2282 Fix broken link
  beginner_source/dcgan_faces_tutorial.py
Labels: cla signed, incorrect link

#2263 Changed deprecated argument "pretrained" to non-deprecated argument "weights" for torchvision models
  beginner_source/basics/saveloadrun_tutorial.py
  beginner_source/introyt/captumyt.py
  beginner_source/transfer_learning_tutorial.py
  intermediate_source/flask_rest_api_tutorial.py
  intermediate_source/tensorboard_profiler_tutorial.py
Labels: cla signed, module: vision

#2281 Typo in tutorial, dist_barrier should be dist.barrier
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed, distributed

#2279 Update pyspelling to include beginner tutorials written in Python
  .gitignore
  .pyspelling.yml
  beginner_source/Intro_to_TorchScript_tutorial.py
  beginner_source/chatbot_tutorial.py
  beginner_source/dcgan_faces_tutorial.py
  beginner_source/deploy_seq2seq_hybrid_frontend_tutorial.py
  beginner_source/fgsm_tutorial.py
  beginner_source/flava_finetuning_tutorial.py
  beginner_source/hyperparameter_tuning_tutorial.py
  beginner_source/nn_tutorial.py
  beginner_source/profiler.py
  beginner_source/saving_loading_models.py
  beginner_source/t5_tutorial.py
  beginner_source/template_tutorial.py
  beginner_source/text_sentiment_ngrams_tutorial.py
  beginner_source/transfer_learning_tutorial.py
  beginner_source/transformer_tutorial.py
  beginner_source/translation_transformer.py
  beginner_source/vt_tutorial.py
  en-wordlist.txt
  tutorials-wordlist.txt
Labels: cla signed

#2204 Fix assert statements to compare the expected and actual values
  beginner_source/introyt/tensors_deeper_tutorial.py
Labels: cla signed, intro

#2285 add : torchserve version required for multi-worker in ipex
  intermediate_source/torchserve_with_ipex.rst
Labels: cla signed, torchserve

#2286 Add a section to advertise use of flatbuffer format for mobile models.
  recipes_source/mobile_perf.rst
Labels: cla signed

#2287 Pyspelling: Python intermediate tutorials A-M
  .pyspelling.yml
  en-wordlist.txt
  intermediate_source/autograd_saved_tensors_hooks_tutorial.py
  intermediate_source/ax_multiobjective_nas_tutorial.py
  intermediate_source/char_rnn_classification_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
  intermediate_source/custom_function_conv_bn_tutorial.py
  intermediate_source/ensembling.py
  intermediate_source/flask_rest_api_tutorial.py
  intermediate_source/forward_ad_usage.py
  intermediate_source/fx_conv_bn_fuser.py
  intermediate_source/fx_profiling_tutorial.py
  intermediate_source/jacobians_hessians.py
  intermediate_source/mario_rl_tutorial.py
  intermediate_source/memory_format_tutorial.py
  intermediate_source/mnist_train_nas.py
  intermediate_source/model_parallel_tutorial.py
Labels: cla signed

#2291 Spellcheck intermediate 2 python
  .pyspelling.yml
  en-wordlist.txt
  intermediate_source/flask_rest_api_tutorial.py
  intermediate_source/neural_tangent_kernels.py
  intermediate_source/nvfuser_intro_tutorial.py
  intermediate_source/parametrizations.py
  intermediate_source/per_sample_grads.py
  intermediate_source/pipeline_tutorial.py
  intermediate_source/pruning_tutorial.py
  intermediate_source/reinforcement_ppo.py
  intermediate_source/reinforcement_q_learning.py
  intermediate_source/scaled_dot_product_attention_tutorial.py
  intermediate_source/seq2seq_translation_tutorial.py
  intermediate_source/tensorboard_profiler_tutorial.py
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2292 modified some text for clarity
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed, grammar

#2249 Fix #1983 by moving input and model to device
  beginner_source/basics/quickstart_tutorial.py
Labels: cla signed, intro

#2295 Update autogradyt_tutorial.py
  beginner_source/introyt/autogradyt_tutorial.py
Labels: cla signed, grammar

#2293 Pyspelling: Advanced Python tutorials
  .pyspelling.yml
  advanced_source/ddp_pipeline.py
  advanced_source/dynamic_quantization_tutorial.py
  advanced_source/neural_style_tutorial.py
  advanced_source/numpy_extensions_tutorial.py
  advanced_source/super_resolution_with_onnxruntime.py
  en-wordlist.txt
Labels: cla signed

#2299 Fix image URL in tutorial Intro_to_TorchScript
  beginner_source/Intro_to_TorchScript_tutorial.py
Labels: cla signed

#2301 switch to v100
  .circleci/config.yml
  .circleci/regenerate.py
  .jenkins/get_files_to_run.py
  .jenkins/metadata.json
Labels: cla signed
