Repository pytorch/tutorials, pull requests merged in 2023-03, with the labels that each got.

#2227 Make 1st worker gpu.nvidia.medium resource class
  .circleci/config.yml
  .circleci/regenerate.py
  .jenkins/get_files_to_run.py
  .jenkins/metadata.json
Labels: cla signed, build issue

#2231 Fix command line example formatting by using literal block
  beginner_source/introyt/captumyt.py
  beginner_source/introyt/tensorboardyt_tutorial.py
Labels: cla signed, intro, website

#2232 Include introyt/trainingyt tutorial in the build
  .jenkins/validate_tutorials_built.py
  beginner_source/introyt/trainingyt.py
Labels: cla signed, build issue

#2238 Correct occurences of `autocast` in `amp` recipe
  recipes_source/recipes/amp_recipe.py
Labels: cla signed

#2233 Fix tutorials not running
  .jenkins/get_sphinx_filenames.py
  .jenkins/validate_tutorials_built.py
  conf.py
Labels: cla signed

#2224 torch.compile tutorial update for pt2 stable release
  .jenkins/validate_tutorials_built.py
  intermediate_source/torch_compile_tutorial.py
  intermediate_source/torch_compile_tutorial.rst
Labels: cla signed, 2.0

#2242 Typo in tensorqs_tutorial.py
  beginner_source/basics/tensorqs_tutorial.py
Labels: cla signed, grammar

#2228 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: cla signed, ci

#2246 Update text_sentiment_ngrams_tutorial.py
  beginner_source/text_sentiment_ngrams_tutorial.py
Labels: cla signed, module: torchtext, 2.0

#2251 Temporarily disable failing tutorials
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2244 Fix forward mode ad tutorial by updating stateless import
  intermediate_source/forward_ad_usage.py
Labels: cla signed, 2.0

#2252 Sdpa tutorial
  index.rst
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed, 2.0

#2171 Add torch.func tutorials for PyTorch 2.0
  index.rst
  intermediate_source/ensembling.py
  intermediate_source/jacobians_hessians.py
  intermediate_source/neural_tangent_kernels.py
  intermediate_source/per_sample_grads.py
Labels: cla signed, 2.0, functorch

#2220 Add changing default device recipe
  recipes_source/recipes/changing_default_device.py
Labels: cla signed, 2.0

#2248 torch.compile tutorial update for pt2 stable release (#2224)
  .jenkins/validate_tutorials_built.py
  intermediate_source/torch_compile_tutorial.py
  intermediate_source/torch_compile_tutorial.rst
Labels: cla signed, 2.0

#2156 PPO Tutorial
  _static/img/invpendulum.gif
  conf.py
  index.rst
  intermediate_source/reinforcement_ppo.py
  requirements.txt
Labels: cla signed, 2.0

#2081 update quantization tutorial by introudcing x86 backend
  advanced_source/static_quantization_tutorial.rst
  beginner_source/vt_tutorial.py
  prototype_source/fx_graph_mode_ptq_dynamic.py
  prototype_source/fx_graph_mode_ptq_static.rst
  prototype_source/fx_numeric_suite_tutorial.py
  recipes_source/quantization.rst
Labels: cla signed, arch-optimization, 2.0

#2229 Update oneDNN Graph JIT Fuser recipe with BF16 dtype
  recipes_source/recipes/tuning_guide.py
Labels: cla signed, 2.0

#2254 Add a note on running in colab
  beginner_source/new-release-colab.rst
  intermediate_source/ensembling.py
  intermediate_source/jacobians_hessians.py
  intermediate_source/neural_tangent_kernels.py
  intermediate_source/per_sample_grads.py
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2256 Fix new-release-colab.rst
  beginner_source/new-release-colab.rst
Labels: cla signed

#2255 Update what's new with 2.0 tutorials
  index.rst
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed

#2258 Fix colab note
  beginner_source/colab.rst
  beginner_source/new-release-colab.rst
  beginner_source/t5_tutorial.py
  conf.py
  intermediate_source/ensembling.py
  intermediate_source/jacobians_hessians.py
  intermediate_source/neural_tangent_kernels.py
  intermediate_source/per_sample_grads.py
  intermediate_source/scaled_dot_product_attention_tutorial.py
  intermediate_source/torch_compile_tutorial.py
  recipes_source/recipes/changing_default_device.py
Labels: cla signed

#2262 Update reinforcement_q_learning.py
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, rl

#2266 Fix infinite redirection in audio dataset tutorial
  beginner_source/audio_datasets_tutorial.rst
Labels: cla signed

#2265 Update mnist_train_nas script for PyTorch Lightning 2.0 API
  .jenkins/validate_tutorials_built.py
  intermediate_source/mnist_train_nas.py
Labels: cla signed, ax

#2272 Delete duplicate dynamo tutorial
  intermediate/dynamo_tutorial.html
Labels: cla signed

#2267 Add shapes tutorial
  recipes_source/recipes/reasoning_about_shapes.py
  recipes_source/recipes_index.rst
Labels: cla signed, core

#2274 Add `pyspelling` config and workflow
  .github/workflows/spelling.yml
  .pyspelling.yml
  beginner_source/data_loading_tutorial.py
  tutorials-wordlist.txt
Labels: cla signed

#2243 Change variable name from `net` to `model` in checkpointing recipe
  recipes_source/recipes/saving_and_loading_a_general_checkpoint.py
Labels: cla signed, intro

#2264 Add a Python tutorial template
  beginner_source/template_tutorial.py
Labels: cla signed

#2278 Add a redirect for fx_numeric_suite_tutorial
  prototype/fx_numeric_suite_tutorial.html
Labels: cla signed

#2260 cpp_frontend : Fix invalid beta1 call.
  advanced_source/cpp_frontend.rst
Labels: cla signed, core

#2240 Fix number of iterations in example code
  beginner_source/flava_finetuning_tutorial.py
Labels: cla signed, torchmultimodal

#2268 Store build artifacts
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed
