Repository pytorch/tutorials, pull requests merged in 2023-11, with the labels that each got.

#2635 Change links to the newest examples
  intermediate_source/FSDP_adavnced_tutorial.rst
Labels: bug, cla signed, easy, docathon-h2-2023

#2636 Remove broken links in tuning guide
  recipes_source/recipes/tuning_guide.py
Labels: bug, cla signed, incorrect link, easy, intel, docathon-h2-2023

#2639 change kernel size to 5x5
  intermediate_source/pruning_tutorial.py
Labels: cla signed, core, easy, docathon-h2-2023

#2638 Update static quantization tutorial code link to go to mobilenetv2.py
  advanced_source/static_quantization_tutorial.rst
Labels: bug, cla signed, incorrect link, easy, docathon-h2-2023

#2640 Update mario_rl_tutorial.py
  intermediate_source/mario_rl_tutorial.py
Labels: bug, cla signed, easy, docathon-h2-2023

#2642 Update parametrizations.py
  intermediate_source/parametrizations.py
Labels: cla signed, core, medium, docathon-h2-2023

#2647 Update super_resolution_with_onnxruntime.py
  advanced_source/super_resolution_with_onnxruntime.py
Labels: cla signed, onnx, easy, docathon-h2-2023

#2654 Rename torch.onnx.ExportOutput to torch.onnx.ONNXProgram
  beginner_source/onnx/export_simple_model_to_onnx_tutorial.py
  beginner_source/onnx/onnx_registry_tutorial.py
Labels: cla signed, onnx

#2649 Fix mario_rl_tutorial.py
  intermediate_source/mario_rl_tutorial.py
Labels: cla signed, core, easy, docathon-h2-2023

#2656 Add logging to last episode
  intermediate_source/mario_rl_tutorial.py
Labels: bug, cla signed, rl, docathon-h2-2023

#2660 Enable antialias on marioRL
  intermediate_source/mario_rl_tutorial.py
Labels: bug, cla signed, rl, docathon-h2-2023

#2659 corrected comment regarding .train and .eval
  beginner_source/introyt/tensorboardyt_tutorial.py
Labels: cla signed, intro, tensorboard, easy, docathon-h2-2023

#2643 Recurrent DQN: Training recurrent policies
  _static/img/rollout_recurrent.png
  en-wordlist.txt
  index.rst
  intermediate_source/dqn_with_rnn_tutorial.py
  requirements.txt
Labels: cla signed, rl, medium, docathon-h2-2023

#2657 update out-of-date URL for Intel optimization guide
  recipes_source/recipes/tuning_guide.py
Labels: bug, cla signed, incorrect link, easy, intel, docathon-h2-2023

#2664 Update .pyspelling.yml
  .pyspelling.yml
Labels: cla signed

#2661 Fix static_quantization_tutorial error in qat_model
  advanced_source/static_quantization_tutorial.rst
Labels: cla signed, module: quantization, medium, docathon-h2-2023

#2653 Fix - Port TorchRL Pendulum tutorial from pytorch.org/rl to pytorch.org/tutorials
  _static/img/pendulum.gif
  advanced_source/pendulum.py
  index.rst
Labels: cla signed, rl, medium, docathon-h2-2023

#2662 Patch 2478
  beginner_source/transformer_tutorial.py
Labels: bug, cla signed, module: torchtext, medium, docathon-h2-2023

#2529 Update tensorboard_profiler_tutorial.py
  intermediate_source/tensorboard_profiler_tutorial.py
Labels: cla signed, tensorboard, docathon-h2-2023

#2673 Fix weight initialization on neural_style_tutorial
  advanced_source/neural_style_tutorial.py
Labels: bug, cla signed, easy, docathon-h2-2023

#2667 Tutorial on using TorchServe on Vertex AI
  index.rst
  recipes_source/recipes_index.rst
  recipes_source/torchserve_vertexai_tutorial.rst
Labels: cla signed, torchserve, advanced, docathon-h2-2023

#2668 Add usage of int8-mixed-bf16 quantization with X86InductorQuantizer
  prototype_source/pt2e_quant_ptq_x86_inductor.rst
Labels: cla signed, medium, docathon-h2-2023

#2689 Update reinforcement_q_learning.py - use named tuples rather than indices
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, rl
