Repository pytorch/tutorials, pull requests merged in 2023-12, with the labels that each got.

#2694 Small typo in DQN tutorial
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, incorrect link

#2676 Added USB tutorial script
  advanced_source/usb_semisup_learn.py
  index.rst
  requirements.txt
Labels: cla signed, module: vision, advanced, docathon-h2-2023

#2703 adding warning to quantization tutorial
  advanced_source/static_quantization_tutorial.rst
Labels: cla signed

#2702 Install 2.2 RC binaries
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
Labels: cla signed, 2.2

#2710 Disable usb_semisup_learn.html
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2712 Update maskedtensor_sparsity.py
  prototype_source/maskedtensor_sparsity.py
Labels: cla signed

#2709 Update torch.export tutorial for 2.2
  .jenkins/validate_tutorials_built.py
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.2

#2706 Fixing link for fx graph quant user guide
  prototype_source/fx_graph_mode_quant_guide.rst
Labels: cla signed

#2713 Fix spellcheck
  .pyspelling.yml
  advanced_source/usb_semisup_learn.py
  en-wordlist.txt
Labels: cla signed

#2540 Ported torchvision detection tutorial into sphinx gallery format
  Makefile
  _static/img/tv_tutorial/tv_image01.png
  _static/img/tv_tutorial/tv_image02.png
  _static/img/tv_tutorial/tv_image05.png
  _static/img/tv_tutorial/tv_image06.png
  en-wordlist.txt
  intermediate_source/torchvision_tutorial.py
  intermediate_source/torchvision_tutorial.rst
  requirements.txt
Labels: cla signed

#2714 Enable maskedtensor_sparsity tutorial
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2715 Temporarily add tutorials survey
  _static/css/custom2.css
  _templates/layout.html
  conf.py
Labels: cla signed

#2705 [ao] adding note about warning to static quant tutorial
  advanced_source/static_quantization_tutorial.rst
Labels: cla signed, quantization

#2675 Add tiatoolbox tutorial
  README.md
  _static/img/thumbnails/cropped/TIAToolbox-Tutorial.png
  _static/img/tiatoolbox_tutorial/read_bounds_tissue.webp
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_001.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_002.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_003.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_004.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_005.png
  _static/tiatoolbox_tutorial.ipynb
  en-wordlist.txt
  index.rst
  intermediate_source/tiatoolbox_tutorial.rst
Labels: cla signed, module: vision, docathon-h2-2023

#2720 [DCP] Fix DCP customcarditem indentation in recipes_index.rst and fix link
  recipes_source/recipes_index.rst
Labels: cla signed

#2684 adding ROCm specifics for the tensorboard profiler tutorials
  _static/img/profiler_rocm_chrome_trace_view.png
  _static/img/profiler_rocm_tensorboard_operartor_view.png
  en-wordlist.txt
  intermediate_source/tensorboard_profiler_tutorial.py
Labels: cla signed, module: rocm, module: profiler, tensorboard, medium, docathon-h2-2023, ciflow/rocm

#2722 Include the table directive to .pyspelling for .rst
  .pyspelling.yml
Labels: cla signed
