Repository pytorch/tutorials, pull requests merged in 2023-02, with the labels that each got.

#2187 Re-enable `Hyperparameter tuning with Ray Tune`
  .jenkins/validate_tutorials_built.py
  beginner_source/hyperparameter_tuning_tutorial.py
Labels: cla signed, intro

#2188 fix missing QConfigMapping instantiation.
  prototype_source/fx_graph_mode_ptq_static.rst
Labels: cla signed

#2189 Fix misalignment of Microsoft Learn links in quickstart tutorial
  _templates/layout.html
Labels: cla signed, website

#2190 Remove survey link
  index.rst
Labels: cla signed, website

#2193 [CI] Update CUDA to 11.7
  .circleci/config.yml
  .circleci/config.yml.in
  .jenkins/get_docker_tag.py
Labels: cla signed

#2200 Fix formatting errors in fx graph mode quantization user guide
  prototype_source/fx_graph_mode_quant_guide.rst
Labels: cla signed

#2197 Fix minor typos, grammar, and formatting errors in the DDP video series
  beginner_source/ddp_series_fault_tolerance.rst
  beginner_source/ddp_series_multigpu.rst
  beginner_source/ddp_series_theory.rst
  intermediate_source/ddp_series_minGPT.rst
  intermediate_source/ddp_series_multinode.rst
Labels: cla signed, grammar

#2191 Use the correct batch values in the output
  beginner_source/basics/optimization_tutorial.py
  beginner_source/basics/quickstart_tutorial.py
Labels: cla signed, intro

#2153 Enable key navigation
  conf.py
Labels: cla signed

#2206 Move code to code block in Youtube "Training with PyTorch" module
  beginner_source/introyt/trainingyt.py
Labels: cla signed, colab, intro

#2199 Remove links to torchvision finetuning tutorial
  beginner_source/basics/autogradqs_tutorial.py
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed, incorrect link, website

#2207 Update ddp_series_multigpu.rst
  beginner_source/ddp_series_multigpu.rst
Labels: cla signed, distributed

#2216 Adding a redirect for the resampling tutorial
  beginner_source/audio_resampling_tutorial.py
  beginner_source/audio_resampling_tutorial.rst
Labels: cla signed

#2214 Correct typo
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed

#2154 Redirect audio tutorials to torchaudio
  beginner_source/audio_data_augmentation_tutorial.py
  beginner_source/audio_data_augmentation_tutorial.rst
  beginner_source/audio_datasets_tutorial.py
  beginner_source/audio_datasets_tutorial.rst
  beginner_source/audio_feature_augmentation_tutorial.py
  beginner_source/audio_feature_augmentation_tutorial.rst
  beginner_source/audio_feature_extractions_tutorial.py
  beginner_source/audio_feature_extractions_tutorial.rst
  beginner_source/audio_io_tutorial.py
  beginner_source/audio_io_tutorial.rst
  beginner_source/audio_resampling_tutorial.rst
  intermediate_source/forced_alignment_with_torchaudio_tutorial.py
  intermediate_source/forced_alignment_with_torchaudio_tutorial.rst
  intermediate_source/speech_command_classification_with_torchaudio_tutorial.py
  intermediate_source/speech_recognition_pipeline_tutorial.py
  intermediate_source/speech_recognition_pipeline_tutorial.rst
  intermediate_source/text_to_speech_with_torchaudio.py
  intermediate_source/text_to_speech_with_torchaudio.rst
Labels: cla signed

#2211 Replace the out of date super init method
  beginner_source/basics/buildmodel_tutorial.py
Labels: cla signed

#2222 Update the copyright
  conf.py
Labels: cla signed
