Repository pytorch/tutorials, pull requests merged in 2023-08, with the labels that each got.

#2516 Update ddp_tutorial.rst
  intermediate_source/ddp_tutorial.rst
Labels: cla signed, distributed

#2517 Pyspelling: add config for beginner/.rst files
  .pyspelling.yml
  beginner_source/bettertransformer_tutorial.rst
  beginner_source/colab.rst
  beginner_source/ddp_series_fault_tolerance.rst
  beginner_source/ddp_series_intro.rst
  beginner_source/ddp_series_multigpu.rst
  beginner_source/ddp_series_theory.rst
  beginner_source/deep_learning_nlp_tutorial.rst
  beginner_source/deeplabv3_on_android.rst
  beginner_source/deeplabv3_on_ios.rst
  beginner_source/introyt.rst
  beginner_source/ptcheat.rst
  beginner_source/pytorch_with_examples.rst
  en-wordlist.txt
Labels: cla signed

#2518 more compact
  beginner_source/data_loading_tutorial.py
Labels: cla signed, core

#2521 Fixes #2498
  intermediate_source/char_rnn_generation_tutorial.py
Labels: cla signed, grammar

#2465 Move coding_ddpg to advanced and add image
  _static/img/replaybuffer_traj.png
  advanced_source/coding_ddpg.py
  index.rst
Labels: cla signed, rl

#2524 Move build manager to pytorchbot-env workflow environment if run on main
  .github/workflows/build-tutorials.yml
Labels: cla signed

#2514 Add knowledge_distillation_tutorial
  _static/img/knowledge_distillation/ce_only.png
  _static/img/knowledge_distillation/cosine_embedding_loss.png
  _static/img/knowledge_distillation/cosine_loss_distillation.png
  _static/img/knowledge_distillation/distillation_output_loss.png
  _static/img/knowledge_distillation/fitnets_knowledge_distill.png
  _static/img/thumbnails/cropped/knowledge_distillation_pytorch_logo.png
  beginner_source/knowledge_distillation_tutorial.py
  index.rst
Labels: cla signed

#2533 Updating torchvision tutorial using Transforms API v2
  _static/tv-training-code.py
  intermediate_source/torchvision_tutorial.rst
Labels: cla signed, module: vision

#2530 [pt2e][quant] Update some docs for pt2 export quantization
  prototype_source/pt2e_quant_ptq_static.rst
  prototype_source/pt2e_quantizer.rst
Labels: cla signed

#2535 conv-bn folding should be used for CNN-based Vision Models when AMP is used with oneDNN Graph
  recipes_source/recipes/tuning_guide.py
Labels: cla signed

#2537 Fixed issue in torchvision_tutorial.rst
  intermediate_source/torchvision_tutorial.rst
Labels: cla signed
