Repository pytorch/tutorials, pull requests merged in 2023-01, with the labels that each got.

#2124 [Quant] Add tutorial for BackendConfig
  prototype_source/backend_config_tutorial.rst
Labels: cla signed, ciflow/trunk

#2163 Update script_optimized and vulkan_workflow docs with new optimization options
  prototype_source/vulkan_workflow.rst
  recipes_source/script_optimized.rst
Labels: cla signed

#2164 Use Main branch in the docs instead of old Master branch
  CONTRIBUTING.md
  README.md
  advanced_source/generic_join.rst
  advanced_source/rpc_ddp_tutorial.rst
  beginner_source/dist_overview.rst
  beginner_source/former_torchies/parallelism_tutorial.py
  beginner_source/nn_tutorial.py
  intermediate_source/FSDP_tutorial.rst
  intermediate_source/ax_multiobjective_nas_tutorial.py
  intermediate_source/ddp_tutorial.rst
  intermediate_source/dist_pipeline_parallel_tutorial.rst
  intermediate_source/dist_tuto.rst
  intermediate_source/process_group_cpp_extension_tutorial.rst
  intermediate_source/rpc_async_execution.rst
  intermediate_source/rpc_param_server_tutorial.rst
  intermediate_source/rpc_tutorial.rst
  prototype_source/README.txt
Labels: cla signed

#2165 Add support of mps for Mac M1 CPUs
  beginner_source/basics/quickstart_tutorial.py
Labels: cla signed, amp

#2169 [Quant] Move parts of BackendConfig tutorial
  prototype_source/backend_config_tutorial.rst
Labels: cla signed

#2172 Fix a small indent error
  index.rst
Labels: cla signed, website

#2176 Add librosa to requirements.txt
  requirements.txt
Labels: cla signed

#2170 Replaces `gym` with `gymnasium` in reinforcement learning q-learning tutorial
  intermediate_source/reinforcement_q_learning.py
  requirements.txt
Labels: cla signed

#2181 Replace usage of `copy.deepcopy()` in favor of `torch.save()` to store best model params in transformer tutorial
  beginner_source/transformer_tutorial.py
Labels: cla signed, module: torchtext

#2183 Fix typo and formatting in bettertransformer_tutorial.rst
  beginner_source/bettertransformer_tutorial.rst
Labels: cla signed, grammar

#2184 Move code to non-executable block
  beginner_source/blitz/neural_networks_tutorial.py
Labels: 60_min_blitz, cla signed, intro, website
