Repository pytorch/tutorials, pull requests merged in 2023-06, with the labels that each got.

#2372 Fix train loop in trainingyt.py
  beginner_source/introyt/trainingyt.py
  intermediate_source/torchvision_tutorial.rst
Labels: question, cla signed, intro, docathon-h1-2023, easy

#2366 Added matplotlib dependency to blitz tutorial
  beginner_source/deep_learning_60min_blitz.rst
Labels: cla signed, docathon-h1-2023, easy

#2362 Fix formatting in the FX Graph Mode Quantization guide
  prototype_source/fx_graph_mode_quant_guide.rst
Labels: bug, cla signed, website, docathon-h1-2023, easy

#2378 Redirect finetuning_torchvision_models_tutorial to torchvision_tutorial
  beginner_source/finetuning_torchvision_models_tutorial.rst
Labels: cla signed, torchvision, incorrect link, module: vision, docathon-h1-2023, easy

#2383 Change batchify desc to remove ambiguity
  beginner_source/transformer_tutorial.py
Labels: cla signed, Text, docathon-h1-2023, easy

#2398 Change formatting of code blocks in Tensorboard profiler tutorial
  intermediate_source/tensorboard_profiler_tutorial.py
Labels: cla signed, Profiler, build issue, colab, docathon-h1-2023, easy

#2386 README.txt - fix unreachable link
  prototype_source/README.txt
Labels: cla signed, incorrect link, docathon-h1-2023, easy

#2377 Fix typo in a PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla signed

#2397 Fixes module 'get_filesystem' error
  beginner_source/introyt/tensorboardyt_tutorial.py
Labels: cla signed, tensorboard, docathon-h1-2023, easy

#2401 Render a non-empty plot in Mario-RL tutorial
  intermediate_source/mario_rl_tutorial.py
Labels: cla signed, rl, website, docathon-h1-2023, medium

#2375 Optimize DataLoader iteration in WrappedDataLoader
  beginner_source/nn_tutorial.py
Labels: cla signed, intro, docathon-h1-2023, medium

#2389 Patch 3
  beginner_source/former_torchies/parallelism_tutorial.py
Labels: cla signed, docathon-h1-2023, medium

#2374 Address Err in char_rnn tutorial issue
  intermediate_source/char_rnn_classification_tutorial.py
Labels: docathon-h1-2023, medium

#2400 Resolving issue#2083
  beginner_source/basics/optimization_tutorial.py
Labels: cla signed, intro, docathon-h1-2023, easy

#2405 resolve issue 1818 by modifying mean and standard deviation in the transforms.Normalize
  beginner_source/introyt/introyt1_tutorial.py
Labels: intro, docathon-h1-2023, medium

#2404 Replace usage of copy.deepcopy()
  beginner_source/transfer_learning_tutorial.py
Labels: cla signed, docathon-h1-2023, easy

#2384 Fix cropping to include last column and last row
  beginner_source/data_loading_tutorial.py
Labels: cla signed, data loading, docathon-h1-2023, medium

#2380 Fix the loss initialization in intermediate_source/char_rnn_generation_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
Labels: cla signed, Text, docathon-h1-2023, easy

#2402 Update transformer_tutorial.py | Resolving issue #1778
  beginner_source/transformer_tutorial.py
Labels: question, cla signed, intro, docathon-h1-2023, easy

#2367 Fix run_demo(demo_model_parallel, world_size) issue
  intermediate_source/ddp_tutorial.rst
Labels: cla signed, distributed, docathon-h1-2023, easy

#2408 Fix dependencies and kernel crash in captumyt.py
  beginner_source/introyt/captumyt.py
Labels: bug, cla signed, intro, docathon-h1-2023, medium

#2411 Set global device back to cpu at the end of tutorial
  recipes_source/recipes/changing_default_device.py
Labels: cla signed

#2412 Revert "Update transformer_tutorial.py | Resolving issue #1778"
  beginner_source/transformer_tutorial.py
Labels: cla signed

#2414 Make DCGan tutorial results reproducible
  beginner_source/dcgan_faces_tutorial.py
Labels: cla signed

#2423 Remove improper src_mask from encoder tutorial
  beginner_source/transformer_tutorial.py
Labels: cla signed, module: torchtext, docathon-h1-2023, medium

#2426 Upload docs preview
  .github/workflows/build-tutorials.yml
Labels: cla signed

#2429 [BE] Delete `from __future__ import`
  advanced_source/cpp_frontend.rst
  advanced_source/neural_style_tutorial.py
  beginner_source/chatbot_tutorial.py
  beginner_source/data_loading_tutorial.py
  beginner_source/deploy_seq2seq_hybrid_frontend_tutorial.py
  beginner_source/fgsm_tutorial.py
  beginner_source/transfer_learning_tutorial.py
  intermediate_source/char_rnn_classification_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
  intermediate_source/dynamic_quantization_bert_tutorial.rst
  intermediate_source/seq2seq_translation_tutorial.py
  intermediate_source/spatial_transformer_tutorial.py
  prototype_source/graph_mode_dynamic_bert_tutorial.rst
  prototype_source/numeric_suite_tutorial.py
Labels: cla signed

#2431 [BE] Simplify `ids_tensor`
  intermediate_source/dynamic_quantization_bert_tutorial.rst
  prototype_source/graph_mode_dynamic_bert_tutorial.rst
Labels: cla signed

#2436 Update torch_compile_tutorial.py to use unused parameter
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2381 Update mario_rl_tutorial.py
  intermediate_source/mario_rl_tutorial.py
Labels: cla signed, CUDA, rl, docathon-h1-2023, easy

#2437 Update rpc_ddp_tutorial.rst
  advanced_source/rpc_ddp_tutorial.rst
Labels: cla signed

#2438 Set random seed
  conf.py
  recipes_source/recipes/changing_default_device.py
Labels: cla signed

#2406 created original copy of the model by loading from disk
  prototype_source/fx_graph_mode_ptq_dynamic.py
Labels: cla signed, core, docathon-h1-2023, easy

#2446 Fix typo in torch_compile_tutorial.py
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed, 2.0

#2424 Change paper reference to a paper matching the model used
  intermediate_source/seq2seq_translation_tutorial.py
Labels: cla signed, module: torchtext, docathon-h1-2023

#2451 Update transformer_tutorial.py
  beginner_source/transformer_tutorial.py
Labels: cla signed, module: torchtext, docathon-h1-2023, easy

#2452 Fix Attention in seq2seq_translation_tutorial AttnDecoderRNN
  _static/img/seq-seq-images/attention-decoder-network.png
  intermediate_source/seq2seq_translation_tutorial.py
Labels: cla signed, module: torchtext, docathon-h1-2023, medium

#2392 Image prediction using trained model
  beginner_source/transfer_learning_tutorial.py
Labels: cla signed, torchvision, docathon-h1-2023, medium

#2420 Fix log-softmax unused issue
  beginner_source/transformer_tutorial.py
Labels: cla signed, docathon-h1-2023

#2354 [Quant] Add quantization 2.0 document
  prototype_source/prototype_index.rst
  prototype_source/quantization_in_pytorch_2_0_export_tutorial.rst
Labels: cla signed, docathon-h1-2023, advanced, intel

#2458 Issue 2338
  advanced_source/neural_style_tutorial.py
  beginner_source/examples_autograd/polynomial_autograd.py
  recipes_source/recipes/amp_recipe.py
  recipes_source/recipes/tuning_guide.py
Labels: bug, cla signed, docathon-h1-2023, easy

#2456 modify quantization in pytorch.2.0 export tutorial
  prototype_source/quantization_in_pytorch_2_0_export_tutorial.rst
Labels: cla signed

#2461 Mention prerequisites for running tutorial basing on observations
  beginner_source/text_sentiment_ngrams_tutorial.py
Labels: question, cla signed, module: torchtext, medium

#2419 Fix inconsistencies in fgsm_tutorial
  Makefile
  beginner_source/fgsm_tutorial.py
Labels: cla signed, Adversarial Training, docathon-h1-2023, medium

#2463 Add new words to wordlist
  en-wordlist.txt
Labels: cla signed

#2413 Port TorchRL tutorial for DDPG Loss to pytorch.org
  _static/img/half_cheetah.gif
  en-wordlist.txt
  index.rst
  intermediate_source/coding_ddpg.py
Labels: cla signed, rl, docathon-h1-2023, medium

#2439 Add a document for leveraging Advanced Matrix Extensions
  recipes_source/amx.rst
  recipes_source/recipes_index.rst
Labels: cla signed, docathon-h1-2023, advanced, intel

#2466 Remove WIP in the title of quantization 2.0 tutorial
  prototype_source/quantization_in_pytorch_2_0_export_tutorial.rst
Labels: cla signed

#2455 Update GTAG
  _templates/layout.html
Labels: cla signed, website

#2468 Sequence to sequence encoder-decoder attention
  intermediate_source/seq2seq_translation_tutorial.py
Labels: cla signed, docathon-h1-2023, medium

#2473 Create docathon-leaderboard.md
  docathon-leaderboard.md
Labels: cla signed

#2472 Update removed torch.symeig in parametrizations.py
  intermediate_source/parametrizations.py
Labels: cla signed

#2474 Update GTAG in conf.py instead of layout.html
  _templates/layout.html
  conf.py
Labels: cla signed

#2443 Increase the number of workers
  .github/workflows/build-tutorials.yml
  .jenkins/metadata.json
Labels: cla signed

#2481 Remove extra info from metadata.json
  .jenkins/metadata.json
Labels: cla signed

#2482 Deprecate distributed_rpc_profiling.rst
  prototype_source/distributed_rpc_profiling.rst
  recipes_source/distributed_rpc_profiling.rst
Labels: bug, cla signed, deprecate

#2486 Missing quote in PPO
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, website

#2490 [Doc] Fixed typos and improved cross-referencing in ppo tutorial
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, grammar, rl

#2484 set eval mode before running evaluation
  intermediate_source/seq2seq_translation_tutorial.py
Labels: cla signed, core

#2492 Add torch.cuda.empty_cache() to the reset_seeds function
  conf.py
Labels: cla signed, build issue

#2477 data_parallel_tutorial to run on multigpu
  .jenkins/metadata.json
  conf.py
Labels: cla signed

#2483 add vectorization options as a goal target
  beginner_source/fgsm_tutorial.py
Labels: cla signed

#2457 Update ddp_tutorial.rst
  intermediate_source/ddp_tutorial.rst
Labels: cla signed, incorrect link

#2321 Update process_group_cpp_extension tutorial for dispatching to backends
  intermediate_source/process_group_cpp_extension_tutorial.rst
Labels: cla signed

#2496 Fix torch_compile_tutorial.py
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2430 [Inductor] [Doc] Add debugging document for inductor cpu backend
  index.rst
  intermediate_source/inductor_debug_cpu.py
Labels: cla signed, docathon-h1-2023, advanced, intel
