Repository pytorch/tutorials, pull requests merged in 2023-10, with the labels that each got.

#2553 Add description page of Dynamo IPEX backend
  recipes_source/recipes_index.rst
  recipes_source/torch_compile_backend_ipex.rst
Labels: cla signed, torch.compile

#2510 [Inductor] [Doc] Add tutorial for Inductor Cpp Wrapper as a prototype feature for PyTorch 2.1
  prototype_source/inductor_cpp_wrapper_tutorial.rst
  prototype_source/prototype_index.rst
Labels: cla signed, 2.1

#2526 Add PrivateUse1 Tutotial on integrating a new backend to pytorch via PrivateUse1
  advanced_source/privateuseone.rst
  index.rst
Labels: cla signed, 2.1

#2551 [Inductor][Quant] Add tutorial for inductor with x86 cpu as backend of pt2e
  prototype_source/prototype_index.rst
  prototype_source/pt2e_quant_ptq_x86_inductor.rst
Labels: cla signed, 2.1

#2565 [DCP] Add Distributed Checkpoint tutorial
  _static/img/distributed/distributed_checkpoint_generated_files.png
  _static/img/thumbnails/cropped/Getting-Started-with-DCP.png
  index.rst
  recipes_source/distributed_checkpoint_recipe.rst
  recipes_source/recipes_index.rst
Labels: cla signed, 2.1

#2576 [quant] Rename "2.0" to "2", remove "static"
  prototype_source/prototype_index.rst
  prototype_source/pt2e_quant_ptq.rst
  prototype_source/pt2e_quantizer.rst
Labels: cla signed

#2572 [quant] Add PT2 QAT tutorial
  prototype_source/prototype_index.rst
  prototype_source/pt2e_quant_qat.rst
Labels: cla signed, 2.1

#2538 [DO NOT MERGE] 2.1 RC TEST
  .jenkins/build.sh
  en-wordlist.txt
  intermediate_source/torch_compile_tutorial.py
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, do-not-merge, 2.1

#2568 Fuse optimizer into backward tutorial
  _static/img/optim_step_in_bwd/snapshot.jpg
  _static/img/optim_step_in_bwd/snapshot_opt_in_bwd.jpg
  en-wordlist.txt
  index.rst
  intermediate_source/optimizer_step_in_backward_tutorial.py
Labels: cla signed, 2.1

#2574 Add semi-structured sparse tutorial
  _static/img/pruning_flow.jpg
  prototype_source/prototype_index.rst
  prototype_source/semi_structured_sparse.rst
Labels: cla signed, 2.1

#2581 [BE] Move data download logic to `download_data.py`
  .jenkins/download_data.py
  Makefile
Labels: cla signed

#2584 [BE] Do not download audio assets
  Makefile
  requirements.txt
Labels: cla signed

#2550 [ONNX 1] Add Backend section to the left page of Tutorials layout page
  .jenkins/validate_tutorials_built.py
  _templates/layout.html
  beginner_source/onnx/README.txt
  beginner_source/onnx/intro_onnx.py
  beginner_source/onnx/onnx_toc.txt
  index.rst
Labels: cla signed, 2.1

#2585 Update what's new in pytorch for 2.1
  index.rst
Labels: cla signed

#2588 Link to nn.module checkpoint loading tutorial in save and load the model recipe
  beginner_source/basics/saveloadrun_tutorial.py
Labels: cla signed

#2590 Update distributed_checkpoint_recipe.rst
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed

#2587 Pull 2.1 stable binaries
  .jenkins/build.sh
Labels: cla signed

#2594 Pin torchrl deps to 0.2.0
  requirements.txt
Labels: cla signed

#2589 Fix rendering on related tutorials link
  beginner_source/basics/saveloadrun_tutorial.py
Labels: cla signed

#2596 Fix eval compile timing in torch.compile tutorial
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2600 Update tocyt.txt
  beginner_source/introyt/tocyt.txt
Labels: cla signed

#2602 [docathon] Update tensorboard_profiler_tutorial.py to work
  intermediate_source/tensorboard_profiler_tutorial.py
Labels: cla signed, tensorboard

#2601 Small fixes to torch.compile tutorial
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2609 Fix link to get_decompositions in torch.export nightly tutorial; Fix spelling
  en-wordlist.txt
  intermediate_source/_torch_export_nightly_tutorial.py
  intermediate_source/torch_export_nightly_tutorial.rst
Labels: cla signed

#2615 Fix "Model Optimziation" typo
  prototype_source/prototype_index.rst
Labels: cla signed

#2608 [quant] Add IR related recommendations for Quantizer tutorial
  prototype_source/pt2e_quantizer.rst
Labels: cla signed

#2614 Remove redundant period in torch_compile_tutorial.py
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2607 Update FSDP_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed

#2606 Update tensors_deeper_tutorial.py
  beginner_source/introyt/tensors_deeper_tutorial.py
Labels: cla signed

#2618 Update docathon-assign.yml
  .github/workflows/docathon-assign.yml
Labels: cla signed

#2616 Implemented fixes in 2:4 sparsity tutorial
  prototype_source/semi_structured_sparse.rst
Labels: cla signed

#2619 Small update to modes on torch.compile tutorial and explain why 2nd run in slower
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2621 Replace deprecated CUDA check
  intermediate_source/reinforcement_ppo.py
Labels: cla signed

#2626 Add instructions on asking questions and submitting bugs
  README.md
Labels: cla signed

#2625 Add explanation video to `torch.autograd` tutorial
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed

#2628 Pin tensordict to 0.2.0
  requirements.txt
Labels: cla signed

#2617 Add x86InductorQuantizer Performance Number
  prototype_source/pt2e_quant_ptq_x86_inductor.rst
Labels: cla signed
