Repository pytorch/tutorials, pull requests merged in 2023-09, with the labels that each got.

#2539 [quant][pt2e] Update save/load model for pt2 export quant tutorial
  prototype_source/pt2e_quant_ptq_static.rst
Labels: cla signed

#2546 Temporary update for torchvision tutorial to the latest version
  _static/img/tv_tutorial/tv_image06.png
  _static/img/tv_tutorial/tv_image07.png
  _static/torchvision_finetuning_instance_segmentation.ipynb
  _static/tv-training-code.py
  intermediate_source/torchvision_tutorial.rst
Labels: cla signed

#2548 Update en-wordlist.txt
  en-wordlist.txt
Labels: cla signed

#2544 Fix torch.compile tutorial for 2.1 release
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#2545 Temporary manual update for tv tutorial ipynb
  _downloads/torchvision_finetuning_instance_segmentation.ipynb
Labels: cla signed

#2549 Fix a typo in scaled_dot_product_attention_tutorial.py
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed

#2558 Update en-wordlist.txt
  en-wordlist.txt
Labels: cla signed, grammar

#2561 [quant][2.1] fix formatting for the tutorial
  prototype_source/pt2e_quant_ptq_static.rst
Labels: cla signed

#2564 Fix `lenet_mnist` download
  Makefile
Labels: cla signed

#2557 Torch export tutorial
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.1

#2571 SDPA tutorial requires newer CUDA, so host it on an A10G
  .jenkins/get_files_to_run.py
  .jenkins/metadata.json
Labels: cla signed

#2573 [TorchFix] Update deprecated TorchVision `pretrained` parameters
  prototype_source/numeric_suite_tutorial.py
  recipes_source/recipes/Captum_Recipe.py
Labels: cla signed

#2575 Rename machines after move to gha, only use multigpu when necessary
  .jenkins/get_files_to_run.py
  .jenkins/metadata.json
Labels: cla signed
