Repository pytorch/tutorials, pull requests merged in 2023-05, with the labels that each got.

#2303 Add note and check for GPU capability
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed, 2.0

#2306 Update docker image cuda11.7 to cuda12.1
  .circleci/config.yml
  .circleci/config.yml.in
Labels: cla signed

#2304 Fix typo in DCGAN Tutorial
  beginner_source/dcgan_faces_tutorial.py
Labels: cla signed, core

#2316 Fix typo in dist_overview.rst
  beginner_source/dist_overview.rst
Labels: cla signed, incorrect link

#2302 Pyspelling python recipes
  .pyspelling.yml
  en-wordlist.txt
  recipes_source/recipes/Captum_Recipe.py
  recipes_source/recipes/amp_recipe.py
  recipes_source/recipes/benchmark.py
  recipes_source/recipes/defining_a_neural_network.py
  recipes_source/recipes/dynamic_quantization.py
  recipes_source/recipes/loading_data_recipe.py
  recipes_source/recipes/profiler_recipe.py
  recipes_source/recipes/save_load_across_devices.py
  recipes_source/recipes/saving_and_loading_a_general_checkpoint.py
  recipes_source/recipes/saving_and_loading_models_for_inference.py
  recipes_source/recipes/saving_multiple_models_in_one_file.py
  recipes_source/recipes/tensorboard_with_pytorch.py
  recipes_source/recipes/timer_quick_start.py
  recipes_source/recipes/tuning_guide.py
  recipes_source/recipes/warmstarting_model_using_parameters_from_a_different_model.py
  recipes_source/recipes/what_is_state_dict.py
  recipes_source/recipes/zeroing_out_gradients.py
Labels: cla signed

#2323 Fix typo in `torchscript_freezing.py` comment: `SciptModule` -> `ScriptModule`
  prototype_source/torchscript_freezing.py
Labels: cla signed, grammar

#2320 Add the assign workflow
  .github/workflows/docathon-assign.yml
Labels: cla signed

#2318 Update hyperparameter optimization with Ray Tune tutorial
  beginner_source/hyperparameter_tuning_tutorial.py
  requirements.txt
Labels: cla signed, intro, core

#2307 A torchtext tutorial to pre-process a non-built-in dataset
  Makefile
  _static/img/thumbnails/cropped/torch_text_logo.png
  beginner_source/torchtext_custom_dataset_tutorial.py
  en-wordlist.txt
  index.rst
Labels: cla signed, module: torchtext

#2358 Upgrade docker image
  .circleci/config.yml
Labels: cla signed

#2357 Propagate labels from the issue to the PR
  .github/scripts/docathon-label-sync.py
  .github/workflows/docathon-label-sync.yml
Labels: cla signed

#2364 Fix links to Author profile
  intermediate_source/char_rnn_classification_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
  intermediate_source/seq2seq_translation_tutorial.py
Labels: cla signed, incorrect link, docathon-h1-2023, easy

#2363 Update transformer_tutorial.py
  beginner_source/transformer_tutorial.py
Labels: cla signed, grammar, docathon-h1-2023, easy

#2369 Update dynamic_quantization_bert_tutorial.rst
  intermediate_source/dynamic_quantization_bert_tutorial.rst
Labels: cla signed, quantization, docathon-h1-2023, easy

#2370 Update super_resolution_with_onnxruntime.py
  advanced_source/super_resolution_with_onnxruntime.py
Labels: cla signed, content, docathon-h1-2023, easy

#2368 Update nn_tutorial.py
  beginner_source/nn_tutorial.py
Labels: cla signed, intro, docathon-h1-2023, easy

#2371 Add model.eval() in neural_style_tutorial.py
  advanced_source/neural_style_tutorial.py
Labels: docathon-h1-2023, easy
