Repository pytorch/tutorials, pull requests merged in 2024-02, with the labels that each got.

#2761 Remove recipes_source/recipes from gitignore
  .gitignore
Labels: cla signed

#2760 Fixed wrong link of MNIST
  recipes_source/recipes/defining_a_neural_network.py
Labels: cla signed, incorrect link, module: vision

#2763 [CI] Fix selective downloads
  .jenkins/build.sh
Labels: cla signed

#2759 Update torchrl==0.3.0 tutos
  advanced_source/coding_ddpg.py
  advanced_source/pendulum.py
  intermediate_source/dqn_with_rnn_tutorial.py
  intermediate_source/mario_rl_tutorial.py
  intermediate_source/reinforcement_ppo.py
  requirements.txt
Labels: cla signed

#2764 [Doc]:Add the necessary package of the code
  recipes_source/recipes/what_is_state_dict.py
Labels: cla signed, functorch

#2765 Fix `CayleyMap`'s `right_inverse`, s/X/A
  intermediate_source/parametrizations.py
Labels: cla signed, core

#2730 Adding tutorial for gpu quantization using torchao
  .jenkins/download_data.py
  .jenkins/metadata.json
  prototype_source/gpu_quantization_torchao_tutorial.py
  requirements.txt
Labels: cla signed, 2.2

#2766 Enable parametrizations.py
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2767 Update docs copyright year
  conf.py
Labels: cla signed

#2776 Remove transformer tutorial and pipeline tutorial
  beginner_source/transformer_tutorial.py
  index.rst
  intermediate_source/pipeline_tutorial.py
Labels: cla signed

#2777 Add customEvent:Rating dimension to gtag
  _templates/layout.html
Labels: cla signed

#2780 Update autogradyt_tutorial.py
  beginner_source/introyt/autogradyt_tutorial.py
Labels: cla signed, core
