Repository pytorch/tutorials, pull requests merged in 2024-07, with the labels that each got.

#2964 remove old pipeline parallel tutorials
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
  advanced_source/ddp_pipeline.py
  index.rst
  intermediate_source/dist_pipeline_parallel_tutorial.rst
  intermediate_source/rpc_async_execution.rst
Labels: cla signed

#2683 correct doc that is reported in https://github.com/pytorch/pytorch/issues/113522
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed, grammar

#2962 torch.distributed.pipelining tutorial
  index.rst
  intermediate_source/pipelining_tutorial.rst
Labels: cla signed, 2.4

#2960 Update distributed_checkpoint_recipe.rst
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, distributed, core

#2967 Add a prerequisites card
  _static/css/custom.css
  advanced_source/cpp_custom_ops.rst
  advanced_source/python_custom_ops.py
  beginner_source/ddp_series_fault_tolerance.rst
  beginner_source/ddp_series_multigpu.rst
  beginner_source/ddp_series_theory.rst
  beginner_source/template_tutorial.py
  intermediate_source/ddp_series_minGPT.rst
  intermediate_source/ddp_series_multinode.rst
  intermediate_source/dqn_with_rnn_tutorial.py
Labels: cla signed, website

#2965 Update distributed_device_mesh.rst
  recipes_source/distributed_device_mesh.rst
Labels: cla signed, incorrect link

#2970 Update cpp_export.rst
  advanced_source/cpp_export.rst
Labels: cla signed, C++

#2974 Typo
  advanced_source/super_resolution_with_onnxruntime.py
Labels: cla signed, grammar

#2938 FIX: typo in inductor_debug_cpu.py
  intermediate_source/inductor_debug_cpu.py
Labels: cla signed, grammar

#2976 Pull 2.4 binaries
  .jenkins/build.sh
Labels: cla signed

#2958 update device mesh to include slicing
  recipes_source/distributed_device_mesh.rst
Labels: cla signed, 2.4

#2968 2.4.0 Updates to DCP
  recipes_source/distributed_async_checkpoint_recipe.rst
  recipes_source/distributed_checkpoint_recipe.rst
  recipes_source/recipes_index.rst
Labels: cla signed, 2.4

#2943 Fix importing issue for inductor_debug_cpu
  .jenkins/validate_tutorials_built.py
  intermediate_source/inductor_debug_cpu.py
Labels: cla signed, 2.4

#2953 Update outdated custom ops tutorials to point to the new landing page
  .jenkins/validate_tutorials_built.py
  advanced_source/cpp_custom_ops.rst
  advanced_source/cpp_extension.rst
  advanced_source/custom_ops_landing_page.rst
  advanced_source/dispatcher.rst
  advanced_source/python_custom_ops.py
  advanced_source/torch_script_custom_ops.rst
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.4

#2950 FIX: beginner/onnx/onnx_registry_tutorial.py fails against 2.4 RC binaries
  .jenkins/validate_tutorials_built.py
  _static/img/onnx/custom_aten_add_function.png
  _static/img/onnx/custom_aten_gelu_function.png
  _static/img/onnx/custom_aten_gelu_model.png
  beginner_source/onnx/onnx_registry_tutorial.py
Labels: cla signed, 2.4

#2982 update Intel(R) Extension for PyTorch Github CPU and GPU branch URL
  recipes_source/intel_extension_for_pytorch.rst
Labels: cla signed

#2979 Update what's new for 2.4
  index.rst
  intermediate_source/TCPStore_libuv_backend.rst
  intermediate_source/pipelining_tutorial.rst
Labels: cla signed, 2.4

#2980 Update to switch back to use stable binaries
  .ci/docker/requirements.txt
  .jenkins/build.sh
Labels: cla signed, 2.4

#2973 Fix typo in knowledge_distillation_tutorial.py
  beginner_source/knowledge_distillation_tutorial.py
Labels: cla signed, grammar

#2975 updated FSDP tutorial
  intermediate_source/FSDP_adavnced_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed, distributed

#2983 A tutorial on pin_memory and non_blocking usage
  .ci/docker/requirements.txt
  _static/img/pinmem/pinmem.png
  _static/img/pinmem/trace_streamed0_pinned0.png
  _static/img/pinmem/trace_streamed0_pinned1.png
  _static/img/pinmem/trace_streamed1_pinned0.png
  _static/img/pinmem/trace_streamed1_pinned1.png
  advanced_source/coding_ddpg.py
  en-wordlist.txt
  index.rst
  intermediate_source/dqn_with_rnn_tutorial.py
  intermediate_source/pinmem_nonblock.py
Labels: cla signed, tensordict

#2985 Update ax_multiobjective_nas_tutorial.py to use TensorboardMetric
  .ci/docker/requirements.txt
  intermediate_source/ax_multiobjective_nas_tutorial.py
Labels: cla signed, ax

#2987 Update link of dynamo overview
  prototype_source/pt2e_quantizer.rst
Labels: cla signed, incorrect link, website
