Repository pytorch/tutorials, pull requests merged in 2024-05, with the labels that each got.

#2855 the output of s2 should not change the number of feature maps
  beginner_source/blitz/neural_networks_tutorial.py
Labels: cla signed, grammar, core

#2853 Fix the duplicated line in `advanced_source/privateuseone.rst`
  advanced_source/privateuseone.rst
Labels: cla signed, grammar

#2841 Rank and Num GPUs flags are missing the double dash. Adding those
  intermediate_source/rpc_param_server_tutorial.rst
Labels: cla signed, distributed

#2862 Typo in issue template
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: cla signed, grammar

#2864 Small grammar fix in dist_overview.rst
  beginner_source/dist_overview.rst
Labels: cla signed

#2866 Install latest theme
  .jenkins/build.sh
Labels: cla signed

#2867 Update reinforcement_q_learning.py
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, grammar

#2868 Update the hyperlink in torch_compile_user_defined_triton_kernel_tutorial.py
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, website

#2869 Remove all instances of Flamegraph
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed

#2871 [Tensor Parallel] update tutorial to simplify embedding + first transformer block
  intermediate_source/TP_tutorial.rst
Labels: cla signed

#2826 Added necessary import multiprocessing
  intermediate_source/reinforcement_ppo.py
Labels: cla signed

#2872 [Tensor Parallel] update tutorial to simplify embedding + first transformer block
  intermediate_source/TP_tutorial.rst
Labels: cla signed, distributed

#2873 Fix up custom op tutorials
  intermediate_source/_torch_export_nightly_tutorial.py
Labels: cla signed

#2874 Add compiled optimizer + lr scheduler tutorial
  .jenkins/metadata.json
  recipes_source/compiling_optimizer_lr_scheduler.py
  recipes_source/recipes_index.rst
Labels: cla signed

#2815 Update autograd_tutorial.py, added whitespace #2802
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed

#2880 Include import for dist_tuto
  intermediate_source/dist_tuto.rst
Labels: cla signed, distributed

#2889 Update the fusion section of tuning_guide.py
  recipes_source/recipes/tuning_guide.py
Labels: cla signed

#2754 Fix batch size calculation in dist_tuto
  intermediate_source/dist_tuto.rst
Labels: cla signed, distributed
