Repository pytorch/tutorials, pull requests merged in 2024-10, with the labels that each got.

#3069 Update torchao to 0.5.0 and fix GPU quantization tutorial
  .ci/docker/requirements.txt
  prototype_source/gpu_quantization_torchao_tutorial.py
Labels: cla signed

#3071 Fix a typo in the inductor Windows CPU tutorial
  prototype_source/inductor_windows_cpu.rst
Labels: cla signed, grammar, website

#3064 Revamp TorchRec intro tutorial
  .ci/docker/requirements.txt
  .jenkins/metadata.json
  en-wordlist.txt
  index.rst
  intermediate_source/torchrec_intro_tutorial.py
  intermediate_source/torchrec_tutorial.rst
Labels: cla signed, torchrec

#3074 Fix the underline that is too short in torchrec_intro_tutorial.py
  intermediate_source/torchrec_intro_tutorial.py
Labels: cla signed, colab

#3076 [FR][Tutorial] Update the tutorial to reflect the pg command arg
  prototype_source/flight_recorder_tutorial.rst
Labels: cla signed

#3081 [FR][tutorial] Minor fix
  prototype_source/flight_recorder_tutorial.rst
Labels: cla signed

#3087 Fix formatting in the scaled_dot tutorial
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed, website

#3063 [Inductor] [Doc] Add tutorial for Max-autotune Support on CPU as a prototype feature for PyTorch 2.5
  prototype_source/max_autotune_on_CPU_tutorial.rst
  prototype_source/prototype_index.rst
Labels: cla signed, 2.5

#3026 Add compiled autograd tutorial
  index.rst
  intermediate_source/compiled_autograd_tutorial.rst
Labels: cla signed, new tutorial, 2.5

#3037 Add autoloading tutorial
  _static/img/python_extension_autoload_impl.png
  prototype_source/README.txt
  prototype_source/prototype_index.rst
  prototype_source/python_extension_autoload.rst
Labels: cla signed, new tutorial, 2.5

#3070 Regional compilation recipe
  .jenkins/metadata.json
  recipes_source/recipes/README.txt
  recipes_source/recipes_index.rst
  recipes_source/regional_compilation.py
Labels: cla signed, torch.compile, 2.5

#3089 [torchrec tutorial] fix headings
  intermediate_source/torchrec_intro_tutorial.py
Labels: cla signed, website

#3093 Update modelsyt_tutorial.py to remove deprecated link
  beginner_source/introyt/modelsyt_tutorial.py
Labels: cla signed, incorrect link

#3068 Fix Distributed Checkpoint Tutorial
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, distributed

#3092 Update saveloadrun_tutorial.py to fix a broken link
  beginner_source/basics/saveloadrun_tutorial.py
Labels: cla signed, incorrect link

#3049 torch_compile_user_defined_triton_kernel_tutorial.py typo correction
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, website

#3094 Update vulkan_workflow.rst
  prototype_source/vulkan_workflow.rst
Labels: cla signed, module: vulkan, ciflow/periodic

#3055 Pull 2.5 binaries
  .jenkins/build.sh
Labels: cla signed, 2.5

#3096 Fix formatting
  recipes_source/regional_compilation.py
Labels: cla signed

#3097 Add assert to regional compilation tutorial
  recipes_source/regional_compilation.py
Labels: cla signed, 2.5

#3095 Update what's new in tutorials to 2.5
  index.rst
Labels: cla signed, 2.5

#3085 Adding Link Check on PRs
  .github/workflows/link_checkPR.yml
  .lycheeignore
Labels: cla signed

#3099 Redirect from the old torchrec tutorial to the new one
  intermediate_source/torchrec_tutorial.rst
Labels: cla signed

#3101 update link to a intel compiler guide with performance data
  prototype_source/inductor_windows_cpu.rst
Labels: cla signed, incorrect link

#3102 Update the title of linked article
  prototype_source/inductor_windows_cpu.rst
Labels: cla signed

#3091 Pin to use 2.5
  .ci/docker/requirements.txt
  .jenkins/build.sh
Labels: cla signed

#3105 Install torchrec only on Linux
  .ci/docker/requirements.txt
Labels: cla signed, build issue

#3108 Update Compiled Autograd tutorial with images
  _static/img/compiled_autograd/call_hook_node.png
  _static/img/compiled_autograd/entire_verbose_log.png
  _static/img/compiled_autograd/recompile_due_to_dynamic.png
  _static/img/compiled_autograd/recompile_due_to_node.png
  intermediate_source/compiled_autograd_tutorial.rst
Labels: cla signed

#3106 pt2e quantization tutorial related updates
  prototype_source/pt2e_quant_ptq.rst
  prototype_source/pt2e_quant_ptq_x86_inductor.rst
  prototype_source/pt2e_quant_qat.rst
  prototype_source/quantization_in_pytorch_2_0_export_tutorial.rst
Labels: cla signed

#3109 Update link_checkPR.yml
  .github/workflows/StalePRs.yml
  .github/workflows/link_checkPR.yml
Labels: cla signed, build issue

#3013 Updated Doc for Intel XPU Profile
  _static/img/itt_tutorial/vtune_xpu_config.png
  _static/img/itt_tutorial/vtune_xpu_timeline.png
  _static/img/trace_xpu_img.png
  en-wordlist.txt
  recipes_source/profile_with_itt.rst
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, module: xpu

#3115 Add a note to the torchscript tutorials
  advanced_source/cpp_export.rst
  advanced_source/torch-script-parallelism.rst
  advanced_source/torch_script_custom_classes.rst
  beginner_source/Intro_to_TorchScript_tutorial.py
  beginner_source/deploy_seq2seq_hybrid_frontend_tutorial.py
  prototype_source/torchscript_freezing.py
  recipes_source/distributed_optim_torchscript.rst
  recipes_source/script_optimized.rst
  recipes_source/torchscript_inference.rst
Labels: cla signed

#3123 Update en-wordlist.txt
  en-wordlist.txt
Labels: cla signed, grammar

#3122 Update .lycheeignore
  .lycheeignore
Labels: cla signed, build issue

#3124 Fix DCP tutorial command
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed

#3120 [doc] Fix to DDP tutorial
  intermediate_source/ddp_tutorial.rst
Labels: cla signed

#3129 Update link_checkPR.yml -Add skip link check
  .github/workflows/link_checkPR.yml
Labels: cla signed, build issue

#3132 [doc][c10d] fix up distributed tutorial
  intermediate_source/dist_tuto.rst
Labels: cla signed

#3135 [Tutorial][PTD] Deprecate Single-Machine Model Parallel Best Practices
  intermediate_source/model_parallel_tutorial.py
  intermediate_source/model_parallel_tutorial.rst
Labels: cla signed

#3138 [doc][c10d] Fixes to FSDP tutorial
  distributed/home.rst
  index.rst
  intermediate_source/FSDP_advanced_tutorial.rst
Labels: cla signed, distributed

#3139 Update PT Cheat page to stop referencing torchscript
  beginner_source/ptcheat.rst
Labels: cla signed

#3128 Add a deprecation notice to the Profile Tensorboard tutorial
  beginner_source/hyperparameter_tuning_tutorial.py
  en-wordlist.txt
  intermediate_source/tensorboard_profiler_tutorial.py
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, skip-link-check
