Repository pytorch/tutorials, pull requests merged in 2024-12, with the labels that each got.

#3173 Update nn_tutorial.py
  beginner_source/nn_tutorial.py
Labels: cla signed, incorrect link

#3177 Add AOTAutogradCache to caching tutorials
  recipes_source/torch_compile_caching_tutorial.rst
Labels: cla signed, torch.compile

#3178 Fix typo in torch_compile_caching_tutorial.rst
  recipes_source/torch_compile_caching_tutorial.rst
Labels: cla signed, grammar

#3179 fix line wrapping
  intermediate_source/dist_tuto.rst
Labels: cla signed, website

#2954 Updating "Classifying Names with a Character-Level RNN"
  en-wordlist.txt
  intermediate_source/char_rnn_classification_tutorial.py
Labels: cla signed, core

#3181 fixing issue#2168
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed, core

#3154 Add last verified script
  .github/workflows/build-tutorials.yml
  .jenkins/insert_last_verified.py
  Makefile
Labels: cla signed, website

#3188 Fix the DCGAN C++ shape warning
  advanced_source/cpp_frontend.rst
Labels: cla signed, core, skip-link-check

#3189 [doc] fix flight recorder tutorial
  prototype_source/flight_recorder_tutorial.rst
Labels: cla signed

#3196 [ONNX] Update dynamo_export tutorial
  .jenkins/validate_tutorials_built.py
  _static/img/onnx/custom_addandround.png
  _static/img/onnx/custom_addandround_function.png
  _static/img/onnx/custom_addandround_model.png
  _static/img/onnx/custom_aten_add_function.png
  _static/img/onnx/custom_aten_add_model.png
  _static/img/onnx/custom_aten_gelu_model.png
  _static/img/onnx/image_classifier_onnx_model_on_netron_web_ui.png
  _static/img/onnx/image_clossifier_onnx_modelon_netron_web_ui.png
  beginner_source/onnx/export_simple_model_to_onnx_tutorial.py
  beginner_source/onnx/intro_onnx.py
  beginner_source/onnx/onnx_registry_tutorial.py
Labels: cla signed, onnx

#3193 Remove Tensor.data attribute from tutorial
  beginner_source/blitz/cifar10_tutorial.py
Labels: cla signed, core

#3199 Fix torchrl scripts for PT 2.6 / TorchRL>=0.6
  .jenkins/validate_tutorials_built.py
  advanced_source/coding_ddpg.py
  advanced_source/pendulum.py
  intermediate_source/dqn_with_rnn_tutorial.py
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, rl

#3204 Mention Python agnosticism in custom ops tutorial
  advanced_source/cpp_custom_ops.rst
  index.rst
Labels: cla signed
