Repository pytorch/tutorials, pull requests merged in 2024-09, with the labels that each got.

#3025 Fix #3023 - Upgrade pygame version to 2.6.0
  .ci/docker/requirements.txt
Labels: cla signed, build issue

#3033 Update intro_onnx.py
  beginner_source/onnx/intro_onnx.py
Labels: cla signed, onnx

#3029 Fixed Rst formatting, minor text changes
  prototype_source/gpu_quantization_torchao_tutorial.py
Labels: cla signed, website

#3036 Add meta tag to torch_export_aoti_python
  conf.py
  index.rst
  recipes_source/torch_export_aoti_python.py
Labels: cla signed

#2972 Fix reference to dcp in loading example
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, distributed

#3038 Remove sphinx theme from .gitmodules
  .gitmodules
Labels: cla signed, build issue

#3021 fix typo in loading model from disk code
  beginner_source/saving_loading_models.py
Labels: cla signed

#3042 Fix 2 incorrect argument positioning in Tutorial
  beginner_source/saving_loading_models.py
Labels: cla signed

#3040 [c10d][Doc] Add a flight recorder tutorial
  prototype_source/README.txt
  prototype_source/flight_recorder_tutorial.rst
  prototype_source/prototype_index.rst
Labels: cla signed, new tutorial

#3035 Add sitemap
  .ci/docker/requirements.txt
  .gitmodules
  conf.py
Labels: cla signed

#3056 Update dist_overview.rst
  beginner_source/dist_overview.rst
Labels: cla signed, grammar

#3057 Fixes #2991
  advanced_source/extend_dispatcher.rst
Labels: cla signed, grammar, incorrect link

#3058 Update FR tutorial to include file path, writer and print usage
  prototype_source/flight_recorder_tutorial.rst
Labels: cla signed

#3059 Minor fixes
  prototype_source/flight_recorder_tutorial.rst
Labels: cla signed

#3061 GIthubAction to close stale PRs
  .github/workflows/StalePRs.yml
Labels: cla signed

#3060 Update dynamic_quantization.py
  recipes_source/recipes/dynamic_quantization.py
Labels: cla signed, website
