Repository pytorch/tutorials, pull requests merged in 2024-04, with the labels that each got.

#2828 Implements the canonical vanilla RNN rather than the current RNN
  intermediate_source/char_rnn_classification_tutorial.py
Labels: cla signed, core

#2817 Remove circleci folder (old config file and unused windows scripts)
  .circleci/README.md
  .circleci/config.yml
  .circleci/scripts/build_for_windows.sh
  .circleci/scripts/install_conda.bat
  .circleci/scripts/windows_cuda_install.sh
Labels: cla signed

#2835 [export] Remove interactive aoti compilation
  intermediate_source/torch_export_tutorial.py
Labels: cla signed

#2836 Update FSDP_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed, Distributed Training, incorrect link, distributed

#2834 [CI] Change docker user to ec2-user
  .ci/docker/Dockerfile
  .ci/docker/common/common_utils.sh
  .ci/docker/common/install_conda.sh
  .ci/docker/common/install_user.sh
  .github/workflows/build-tutorials.yml
Labels: cla signed

#2837 Remove nbsphinx
  .ci/docker/requirements.txt
  conf.py
Labels: cla signed, website

#2804 2.3 RC TEST
  .jenkins/build.sh
  .jenkins/metadata.json
  .jenkins/validate_tutorials_built.py
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.3

#2824 Add tutorial for swap_tensors in nn.Module
  recipes_source/recipes/module_load_state_dict_tips.py
  recipes_source/recipes/swap_tensors.py
  recipes_source/recipes_index.rst
Labels: cla signed, 2.3

#2819 Add dynamic quant to the tutorial of PT2E quantization with X86Inductor
  prototype_source/pt2e_quant_x86_inductor.rst
Labels: cla signed, 2.3

#2829 Add Tensor Parallel Tutorial
  _static/img/distributed/fsdp_tp.png
  _static/img/distributed/loss_parallel.png
  _static/img/distributed/megatron_lm.png
  _static/img/thumbnails/cropped/Large-Scale-Transformer-model-training-with-Tensor-Parallel.png
  distributed/home.rst
  index.rst
  intermediate_source/TP_tutorial.rst
Labels: cla signed, 2.3

#2838 [export] Add non-strict and derived dims tutorials
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.3

#2831 Update the sdpa docs to use new context manager and attention_bias examples
  intermediate_source/scaled_dot_product_attention_tutorial.py
Labels: cla signed, 2.3

#2832 Updates dcp tutorial with recent updates to api including save, load, and distributed state dict
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, 2.3

#2842 Disable intermediate_source/torchvision_tutorial.py
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#2783 Add tutorial for user defined triton kernels
  .jenkins/metadata.json
  en-wordlist.txt
  recipes_source/recipes_index.rst
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, 2.3

#2833 Update semi-structured sparse tutorial
  .ci/docker/requirements.txt
  .jenkins/metadata.json
  advanced_source/semi_structured_sparse.py
  en-wordlist.txt
  index.rst
Labels: cla signed, 2.3

#2839 Remove line overwriting output
  intermediate_source/per_sample_grads.py
Labels: cla signed, core

#2844 Update what's new in tutorials for 2.3
  index.rst
Labels: cla signed, 2.3

#2846 Pin torch version to 2.3 and rebuild docker image
  .ci/docker/requirements.txt
Labels: cla signed

#2845 Switch back to stable binaries
  .jenkins/build.sh
Labels: cla signed

#2782 Fix Checkpoint in Hyperparameter Tuning
  beginner_source/hyperparameter_tuning_tutorial.py
Labels: cla signed, intro, core

#2851 Change Mobile to Edge
  _static/img/ExecuTorch-Logo-cropped.svg
  _templates/layout.html
  index.rst
Labels: cla signed

#2852 Fix thumbnail
  index.rst
Labels: cla signed

#2847 Update PyTorch Cheat.md
  beginner_source/PyTorch Cheat.md
Labels: cla signed, core
