Repository pytorch/tutorials, pull requests merged in 2024-11, with the labels that each got.

#3136 Redirect duplicate save/load recipes to the main save/load tutorial
  conf.py
  recipes_source/recipes/README.txt
  recipes_source/recipes/save_load_across_devices.py
  recipes_source/recipes/save_load_across_devices.rst
  recipes_source/recipes/saving_and_loading_a_general_checkpoint.py
  recipes_source/recipes/saving_and_loading_a_general_checkpoint.rst
  recipes_source/recipes/saving_and_loading_models_for_inference.py
  recipes_source/recipes/saving_and_loading_models_for_inference.rst
  recipes_source/recipes/saving_multiple_models_in_one_file.py
  recipes_source/recipes/saving_multiple_models_in_one_file.rst
Labels: cla signed

#3140 Redirecting android_native_app_with_custom_op to ExecuTorch.
  recipes_source/android_native_app_with_custom_op.rst
Labels: cla signed

#3141 [doc] ddp multigpu tutorial - small updates
  beginner_source/ddp_series_multigpu.rst
Labels: cla signed, distributed

#3121 Deprecating Mobile Tutorials in favor of ExecuTorch
  beginner_source/deeplabv3_on_android.rst
  beginner_source/deeplabv3_on_ios.rst
  prototype_source/ios_coreml_workflow.rst
  prototype_source/ios_gpu_workflow.rst
  prototype_source/nnapi_mobilenetv2.rst
  recipes_source/mobile_interpreter.rst
  recipes_source/mobile_perf.rst
  recipes_source/model_preparation_android.rst
  recipes_source/model_preparation_ios.rst
  recipes_source/ptmobile_recipes_summary.rst
Labels: cla signed

#3125 Enable multi-level nav in the left nav bar
  .jenkins/validate_tutorials_built.py
  .lycheeignore
  _static/css/custom2.css
  _static/js/custom.js
  _templates/layout.html
  beginner_source/basics/intro.py
  beginner_source/introyt.rst
  beginner_source/introyt/README.txt
  beginner_source/introyt/introyt_index.py
  conf.py
  index.rst
Labels: cla signed, skip-link-check

#3147 ExecutTorch Redirects
  beginner_source/former_torchies_tutorial.rst
Labels: cla signed, website

#3146 Redirect dist_pipeline and pipeline_tutorials tutorials to pipelining_tutorial
  intermediate_source/dist_pipeline_parallel_tutorial.rst
  intermediate_source/pipeline_tutorial.rst
Labels: cla signed, add-redirect

#3150 Redirect torch.export nightly tutorial to updated torch.export tutorial
  intermediate_source/torch_export_nightly_tutorial.rst
Labels: cla signed, add-redirect

#3151 Deprecate ONNXLive tutorial
  advanced_source/ONNXLive.rst
Labels: cla signed, add-redirect

#3144 Install dependencies globally instead of using conda
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/common/common_utils.sh
  .ci/docker/common/install_base.sh
  .ci/docker/common/install_conda.sh
  .ci/docker/common/install_pip_requirements.sh
  lychee.toml
Labels: cla signed

#3156 Update rpc_async_execution.rst
  intermediate_source/rpc_async_execution.rst
Labels: cla signed, incorrect link

#3160 Update ddp_series_theory.rst
  beginner_source/ddp_series_theory.rst
Labels: cla signed, incorrect link

#3157 Fixed links in process_group_cpp_extension_tutorial.rst
  intermediate_source/process_group_cpp_extension_tutorial.rst
Labels: cla signed, incorrect link

#3075 Transformer building blocks tutorial
  .jenkins/metadata.json
  .jenkins/validate_tutorials_built.py
  en-wordlist.txt
  index.rst
  intermediate_source/transformer_building_blocks.py
Labels: cla signed

#3158 Correct author's github handle
  beginner_source/ddp_series_intro.rst
Labels: cla signed, incorrect link

#3159 Update .lycheeignore
  .lycheeignore
Labels: cla signed, build issue

#3164 Update custom2.css
  _static/css/custom2.css
Labels: cla signed
