Repository pytorch/tutorials, pull requests merged in 2024-03, with the labels that each got.

#2786 Update README.md
  README.md
Labels: cla signed

#2771 Reduce number of iterations in USB tutorial
  .jenkins/validate_tutorials_built.py
  _static/img/usb_semisup_learn/code.png
  advanced_source/usb_semisup_learn.py
  beginner_source/colab.rst
Labels: cla signed

#2789 Update ray to 2.7.2
  beginner_source/hyperparameter_tuning_tutorial.py
  requirements.txt
Labels: cla signed

#2790 Revert "Update ray to 2.7.2"
  beginner_source/hyperparameter_tuning_tutorial.py
  requirements.txt
Labels: cla signed

#2791 (Re-land) Update ray to 2.7.2
  beginner_source/hyperparameter_tuning_tutorial.py
  requirements.txt
Labels: cla signed

#2792 Fix typos in distributed_device_mesh.rst
  recipes_source/distributed_device_mesh.rst
Labels: cla signed, grammar

#2785 Fix the Calculation of the KL divergence loss.
  beginner_source/knowledge_distillation_tutorial.py
Labels: cla signed

#2795 Fix Enabling CUDA link
  advanced_source/usb_semisup_learn.py
Labels: cla signed, incorrect link

#2794 Typo fix in onnx tutorial
  advanced_source/super_resolution_with_onnxruntime.py
Labels: cla signed, website

#2781 Correct when to set_device in ddp
  beginner_source/ddp_series_multigpu.rst
Labels: cla signed, distributed

#2778 Clarify post training quantization behaviour
  recipes_source/quantization.rst
Labels: cla signed

#2803 Super tiny fix doc rendering
  beginner_source/saving_loading_models.py
Labels: cla signed, website

#2801 Update char_rnn_generation_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
Labels: cla signed, incorrect link

#2808 Fix formatting
  recipes_source/recipes/tuning_guide.py
Labels: cla signed

#2806 Update export tutorial
  .jenkins/metadata.json
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.3

#2542 Build docker image
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/common/common_utils.sh
  .ci/docker/common/install_base.sh
  .ci/docker/common/install_conda.sh
  .ci/docker/common/install_docs_reqs.sh
  .ci/docker/requirements.txt
  .github/workflows/build-tutorials.yml
  .github/workflows/docker-build.yml
  .jenkins/build.sh
  requirements.txt
Labels: cla signed

#2762 Switch multigpu runner
  .github/workflows/build-tutorials.yml
Labels: cla signed
