Repository pytorch/tutorials, pull requests merged in 2024-08, with the labels that each got.

#2986 Fix torchrl and tensordict requirements
  .ci/docker/requirements.txt
  intermediate_source/pinmem_nonblock.py
Labels: cla signed

#2990 fix dcp tutorial formatting
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, website

#2959 Updated linalg functions in tensors_deeper_tutorial.py
  beginner_source/introyt/tensors_deeper_tutorial.py
Labels: cla signed, core

#2989 fix xeon_run_cpu.html link
  recipes_source/recipes_index.rst
  recipes_source/xeon_run_cpu.rst
Labels: cla signed, incorrect link, website

#3000 [Tensor Parallel] remove non-existing code pointer
  intermediate_source/TP_tutorial.rst
Labels: cla signed, grammar

#3001 [dtensor][debug] CommDebugMode recipe
  recipes_source/distributed_comm_debug_mode.rst
  recipes_source/recipes_index.rst
Labels: cla signed

#3002 fix: rm `use_cuda` param
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, module: profiler

#2820 Add programmable Google Search to pytorch tutorials site
  _static/css/custom.css
  _templates/layout.html
Labels: cla signed, website

#2997 Tutorial for AOTI Python runtime
  .ci/docker/build.sh
  .ci/docker/common/common_utils.sh
  .ci/docker/requirements.txt
  .jenkins/metadata.json
  en-wordlist.txt
  recipes_source/recipes_index.rst
  recipes_source/torch_export_aoti_python.py
Labels: cla signed

#3015 Fixed capitalization error , updated link text in Chatbot tutorial
  beginner_source/chatbot_tutorial.py
Labels: cla signed

#3012 Add weights_only=True to torch.load
  advanced_source/dynamic_quantization_tutorial.py
  advanced_source/static_quantization_tutorial.rst
  beginner_source/basics/quickstart_tutorial.py
  beginner_source/basics/saveloadrun_tutorial.py
  beginner_source/blitz/cifar10_tutorial.py
  beginner_source/fgsm_tutorial.py
  beginner_source/saving_loading_models.py
  beginner_source/transfer_learning_tutorial.py
  intermediate_source/autograd_saved_tensors_hooks_tutorial.py
  intermediate_source/ddp_tutorial.rst
  intermediate_source/tiatoolbox_tutorial.rst
  prototype_source/fx_graph_mode_ptq_dynamic.py
  prototype_source/fx_graph_mode_ptq_static.rst
  prototype_source/pt2e_quant_ptq.rst
  prototype_source/pt2e_quant_qat.rst
  recipes_source/intel_neural_compressor_for_pytorch.rst
  recipes_source/recipes/module_load_state_dict_tips.py
  recipes_source/recipes/save_load_across_devices.py
  recipes_source/recipes/saving_and_loading_a_general_checkpoint.py
  recipes_source/recipes/saving_and_loading_models_for_inference.py
  recipes_source/recipes/saving_multiple_models_in_one_file.py
  recipes_source/recipes/warmstarting_model_using_parameters_from_a_different_model.py
Labels: cla signed

#3020 Improve custom ops tutorials
  advanced_source/cpp_custom_ops.rst
  advanced_source/python_custom_ops.py
Labels: cla signed, module: custom-operators

#3014 Removed outdated steps in README about running about setup.py
  README.md
Labels: cla signed

#3005 Fix hovering over the GCS search button
  _static/css/custom.css
Labels: cla signed, website

#3016 Added warnings to select Pytorch mobile tutorials directing users to ExecuTorch
  beginner_source/deeplabv3_on_android.rst
  prototype_source/lite_interpreter.rst
  recipes_source/mobile_interpreter.rst
  recipes_source/mobile_perf.rst
  recipes_source/ptmobile_recipes_summary.rst
Labels: cla signed, website

#2936 Patched docs for torch_compile_tutorial
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed, torch.compile, medium, docathon-h1-2024, tiraged
