Repository pytorch/tutorials, pull requests merged in 2024-06, with the labels that each got.

#2906 [small] fix link
  intermediate_source/process_group_cpp_extension_tutorial.rst
Labels: cla signed, incorrect link, website

#2919 update torch compile backend ipex with target device
  recipes_source/torch_compile_backend_ipex.rst
Labels: cla signed, easy, intel, docathon-h1-2024

#2918 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla signed

#2910 DEP: deprecate transformer tutorial
  beginner_source/transformer_tutorial.rst
Labels: cla signed, medium, docathon-h1-2024

#2909 Enable torchvision_tutorial
  .jenkins/validate_tutorials_built.py
  intermediate_source/torchvision_tutorial.py
Labels: bug, cla signed, module: vision, advanced, docathon-h1-2024

#2912 Added CUDA graph, Tensor Core and Core pinning explaination
  recipes_source/recipes/tuning_guide.py
Labels: cla signed, medium, docathon-h1-2024

#2928 typo
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed, grammar

#2913 Clean up dist_overview.rst
  beginner_source/dist_overview.rst
  en-wordlist.txt
Labels: cla signed

#2930 Move edit note back to the top
  beginner_source/dist_overview.rst
Labels: cla signed, website

#2922 FIX: Redirect old Loading data in PyTorch to newer Datasets & DataLoaders
  .jenkins/validate_tutorials_built.py
  recipes_source/loading_data_recipe.rst
  recipes_source/recipes/README.txt
  recipes_source/recipes/loading_data_recipe.py
  recipes_source/recipes/zeroing_out_gradients.py
  recipes_source/recipes_index.rst
Labels: cla signed, easy, docathon-h1-2024

#2888 Add new Python and C++/CUDA Custom Op tutorials
  .jenkins/validate_tutorials_built.py
  advanced_source/cpp_custom_ops.rst
  advanced_source/custom_ops_landing_page.rst
  advanced_source/python_custom_ops.py
  en-wordlist.txt
  index.rst
Labels: cla signed, 2.4

#2937 Replace dtype static list with a reference to data type doc
  beginner_source/introyt/tensors_deeper_tutorial.py
Labels: cla signed, website, core, easy, docathon-h1-2024

#2935 Exporting a Model from PyTorch to ONNX tutorial - Docathon
  _static/img/cat_resized.jpg
  advanced_source/super_resolution_with_onnxruntime.py
Labels: cla signed, onnx, easy, docathon-h1-2024

#2934 Improve DQN Tutorial
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, rl, easy, docathon-h1-2024

#2949 FIX: Update `transformer_tutorial.rst`
  beginner_source/transformer_tutorial.rst
Labels: cla signed

#2952 Add tutorial about inductor caching
  recipes_source/recipes_index.rst
  recipes_source/torch_compile_caching_tutorial.rst
Labels: cla signed, module: inductor

#2931 Adding xeon_run_cpu.rst doc
  recipes_source/recipes_index.rst
  recipes_source/xeon_run_cpu.rst
Labels: cla signed

#2955 Disable failing tutorials 2.4
  .jenkins/validate_tutorials_built.py
Labels: cla signed, 2.4
