Repository pytorch/tutorials, pull requests merged in 2024-01, with the labels that each got.

#2723 Added tutorials for Holistic Trace Analysis
  _static/img/hta/comm_across_ranks.png
  _static/img/hta/counts_diff.png
  _static/img/hta/cuda_kernel_launch.png
  _static/img/hta/cuda_kernel_launch_stats.png
  _static/img/hta/duration_diff.png
  _static/img/hta/idle_time.png
  _static/img/hta/idle_time_breakdown_percentage.png
  _static/img/hta/idle_time_summary.png
  _static/img/hta/kernel_metrics_df.png
  _static/img/hta/kernel_type_breakdown.png
  _static/img/hta/launch_delay_outliers.png
  _static/img/hta/mem_bandwidth_queue_length.png
  _static/img/hta/overlap_df.png
  _static/img/hta/overlap_plot.png
  _static/img/hta/pie_charts.png
  _static/img/hta/queue_length_summary.png
  _static/img/hta/runtime_outliers.png
  _static/img/hta/short_gpu_kernels.png
  _static/img/hta/temporal_breakdown_df.png
  _static/img/hta/temporal_breakdown_plot.png
  beginner_source/hta_intro_tutorial.rst
  beginner_source/hta_trace_diff_tutorial.rst
  en-wordlist.txt
  index.rst
Labels: cla signed, Profiler

#2726 An editorial pass on the HTA tutorials
  beginner_source/hta_intro_tutorial.rst
  beginner_source/hta_trace_diff_tutorial.rst
Labels: cla signed

#2699 Fix a typo and wrong list number
  README.md
Labels: cla signed

#2686 fix: typo error
  beginner_source/introyt/modelsyt_tutorial.py
Labels: cla signed, grammar

#2716 Add how to use C++ wrapper with X86InductorQuantizer
  prototype_source/pt2e_quant_ptq_x86_inductor.rst
Labels: cla signed, 2.2

#2731 Fix the Title: Underline too short warnings
  advanced_source/ddp_pipeline.py
  advanced_source/dispatcher.rst
  advanced_source/usb_semisup_learn.py
  beginner_source/basics/autogradqs_tutorial.py
  beginner_source/basics/buildmodel_tutorial.py
  beginner_source/basics/data_tutorial.py
  beginner_source/basics/intro.py
  beginner_source/basics/tensorqs_tutorial.py
  beginner_source/blitz/autograd_tutorial.py
  beginner_source/blitz/cifar10_tutorial.py
  beginner_source/blitz/tensor_tutorial.py
  beginner_source/ddp_series_fault_tolerance.rst
  beginner_source/ddp_series_multigpu.rst
  beginner_source/dist_overview.rst
  beginner_source/knowledge_distillation_tutorial.py
  beginner_source/nn_tutorial.py
  beginner_source/profiler.py
  beginner_source/pytorch_with_examples.rst
  beginner_source/t5_tutorial.py
  beginner_source/vt_tutorial.py
  intermediate_source/FSDP_tutorial.rst
  intermediate_source/ddp_tutorial.rst
  intermediate_source/dynamic_quantization_bert_tutorial.rst
  intermediate_source/ensembling.py
  intermediate_source/fx_conv_bn_fuser.py
  intermediate_source/fx_profiling_tutorial.py
  intermediate_source/inductor_debug_cpu.py
  intermediate_source/mario_rl_tutorial.py
  intermediate_source/model_parallel_tutorial.py
  intermediate_source/optimizer_step_in_backward_tutorial.py
  intermediate_source/pipeline_tutorial.py
  intermediate_source/realtime_rpi.rst
  intermediate_source/tensorboard_profiler_tutorial.py
  intermediate_source/torch_compile_tutorial.py
  intermediate_source/torchserve_with_ipex.rst
  intermediate_source/torchserve_with_ipex_2.rst
  prototype_source/fx_graph_mode_ptq_dynamic.py
  prototype_source/fx_graph_mode_ptq_static.rst
  prototype_source/graph_mode_dynamic_bert_tutorial.rst
  prototype_source/inductor_cpp_wrapper_tutorial.rst
  prototype_source/ios_gpu_workflow.rst
  prototype_source/nestedtensor.py
  prototype_source/nnapi_mobilenetv2.rst
  prototype_source/numeric_suite_tutorial.py
  prototype_source/pt2e_quant_qat.rst
  prototype_source/semi_structured_sparse.rst
  prototype_source/vulkan_workflow.rst
  recipes_source/bundled_inputs.rst
  recipes_source/mobile_interpreter.rst
  recipes_source/recipes/amp_recipe.py
  recipes_source/recipes/dynamic_quantization.py
  recipes_source/recipes/tensorboard_with_pytorch.py
  recipes_source/recipes/tuning_guide.py
Labels: cla signed, website, notebook

#2734 Remove 2023 survey
  _templates/layout.html
Labels: cla signed, website

#2728 Add missing `plt.show()` statement to Beginner/DCGAN Face Tutorial
  beginner_source/dcgan_faces_tutorial.py
Labels: cla signed

#2736 Update tensordict link in intersphinx mapping
  conf.py
Labels: cla signed, build issue, tensordict

#2737 Convert :: to code-block directive
  advanced_source/neural_style_tutorial.py
  beginner_source/blitz/neural_networks_tutorial.py
  beginner_source/data_loading_tutorial.py
  beginner_source/dcgan_faces_tutorial.py
  beginner_source/hyperparameter_tuning_tutorial.py
  beginner_source/introyt/autogradyt_tutorial.py
  beginner_source/introyt/captumyt.py
  beginner_source/introyt/introyt1_tutorial.py
  beginner_source/introyt/tensorboardyt_tutorial.py
  beginner_source/introyt/tensors_deeper_tutorial.py
  beginner_source/nn_tutorial.py
  beginner_source/profiler.py
  beginner_source/saving_loading_models.py
  beginner_source/text_sentiment_ngrams_tutorial.py
  beginner_source/vt_tutorial.py
  en-wordlist.txt
  intermediate_source/char_rnn_classification_tutorial.py
  intermediate_source/char_rnn_generation_tutorial.py
  intermediate_source/flask_rest_api_tutorial.py
  intermediate_source/inductor_debug_cpu.py
  intermediate_source/scaled_dot_product_attention_tutorial.py
  intermediate_source/seq2seq_translation_tutorial.py
  intermediate_source/spatial_transformer_tutorial.py
  recipes_source/recipes/dynamic_quantization.py
  recipes_source/recipes/profiler_recipe.py
  recipes_source/recipes/save_load_across_devices.py
  recipes_source/recipes/saving_multiple_models_in_one_file.py
  recipes_source/recipes/tensorboard_with_pytorch.py
  recipes_source/recipes/timer_quick_start.py
  recipes_source/recipes/warmstarting_model_using_parameters_from_a_different_model.py
  recipes_source/recipes/what_is_state_dict.py
  recipes_source/recipes/zeroing_out_gradients.py
Labels: cla signed, website, notebook

#2738 Add FSDP reference in PyTorch Distributed doc
  beginner_source/dist_overview.rst
  en-wordlist.txt
Labels: cla signed, distributed

#2745 Minor comment typo fix
  intermediate_source/reinforcement_q_learning.py
Labels: cla signed, grammar

#2700 Added optimizer compile recipe
  recipes_source/compiling_optimizer.rst
  recipes_source/recipes_index.rst
Labels: cla signed, torch.compile, 2.2

#2704 Add logging recipe
  recipes_source/recipes_index.rst
  recipes_source/torch_logs.py
Labels: cla signed, 2.2

#2717 Add Tutorial of QAT with X86InductorQuantizer
  prototype_source/prototype_index.rst
  prototype_source/pt2e_quant_x86_inductor.rst
Labels: cla signed, 2.2

#2718 [DeviceMesh] Add device mesh recipe
  _static/img/distributed/device_mesh.png
  distributed/home.rst
  recipes_source/distributed_device_mesh.rst
  recipes_source/recipes_index.rst
Labels: cla signed, 2.2

#2747 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla signed, build issue

#2748 Make coding_ddpg runnable in CoLab end to end
  advanced_source/coding_ddpg.py
Labels: cla signed

#2750 [BE] Make coding_ddpg.py runnable outside of Colab env
  advanced_source/coding_ddpg.py
Labels: cla signed, rl

#2753 Add a link to Compiling the optimizer w PT2 dev-discuss
  recipes_source/compiling_optimizer.rst
Labels: cla signed, 2.2

#2751 Update what's new for 2.2
  index.rst
Labels: cla signed, 2.2

#2752 Move back to stable binaries
  .jenkins/build.sh
Labels: cla signed, 2.2

#2755 Exit cleanly for torch logs tutorial
  recipes_source/torch_logs.py
Labels: cla signed

#2756 Update torch_logs.py, fixed a typo in the docs
  recipes_source/torch_logs.py
Labels: cla signed

#2743 Fix calculation of current item number in optimization_tutorial.py
  beginner_source/basics/optimization_tutorial.py
Labels: cla signed, intro, core

#2678 Remove tensorboard.dev from tensorboard tutorial
  recipes_source/recipes/tensorboard_with_pytorch.py
Labels: cla signed, tensorboard
