Repository pytorch/tutorials, pull requests merged in 2025-01, with the labels that each got.

#3212 Clarify Python custom operators do not work without Python
  advanced_source/custom_ops_landing_page.rst
  advanced_source/python_custom_ops.py
Labels: cla signed

#3215 Add new terms to en-wordlist.txt
  en-wordlist.txt
Labels: cla signed, grammar

#3205 Fix invalid page links in tutorial
  intermediate_source/inductor_debug_cpu.py
Labels: cla signed, incorrect link, skip-link-check

#3149 fix typo
  recipes_source/distributed_device_mesh.rst
Labels: cla signed, grammar, stale

#3206 Updated broken link on ONNX beginner tutorial
  beginner_source/onnx/README.txt
Labels: cla signed, incorrect link

#3201 Fix dead link for compiler troubleshooting
  intermediate_source/inductor_debug_cpu.py
Labels: cla signed, incorrect link

#3148 Redirect tracing_based_selective_build.rst to the new ET tutorial
  prototype_source/tracing_based_selective_build.rst
Labels: cla signed, Mobile, stale

#3166 Fix: add event sync in fsdp tutorial
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed, distributed, skip-link-check

#3214 [export] update dynamic shapes section
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, module: export

#3229 fix reference path links
  advanced_source/pendulum.py
Labels: cla signed, incorrect link

#3022 make_distribute_tutorial_work_in_google_colab
  intermediate_source/dist_tuto.rst
Labels: cla signed, colab, distributed, stale

#3230 Use DETERMINISTIC sampling in PPO
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, rl, skip-link-check

#3225 add torch.compiler.set_stance tutorial
  recipes_source/torch_compiler_set_stance_tutorial.py
Labels: cla signed, torch.compile, new tutorial, 2.6

#3198 [ROCm] Update C++ Custom Operators tutorial with note about AMD GPU.
  advanced_source/cpp_custom_ops.rst
Labels: cla signed, module: rocm

#3180 A recipe for showcasing torch.export flow for 4 models, with unique challenges and solutions
  recipes_source/recipes_index.rst
  recipes_source/torch_export_challenges_solutions.rst
Labels: cla signed, module: export

#3243 Add link to a good recipe example
  CONTRIBUTING.md
Labels: cla signed, incorrect link

#3240 Update cpp_autograd.rst
  advanced_source/cpp_autograd.rst
Labels: cla signed, incorrect link

#3237 Fix a broken link in rpc_tutorial.rst
  intermediate_source/rpc_tutorial.rst
Labels: cla signed, incorrect link

#3238 Fix a broken link in pytorch_with_examples.rst
  beginner_source/pytorch_with_examples.rst
Labels: cla signed, incorrect link

#3247 Update .lycheeignore
  .lycheeignore
Labels: cla signed, skip-link-check

#3248 Update ddp_series_multinode.rst
  intermediate_source/ddp_series_multinode.rst
Labels: cla signed, incorrect link

#3246 Update ddp_series_minGPT.rst
  intermediate_source/ddp_series_minGPT.rst
Labels: cla signed, incorrect link

#3239 Update dynamic_quantization_bert_tutorial.rst
  intermediate_source/dynamic_quantization_bert_tutorial.rst
Labels: cla signed, incorrect link

#3245 Fix broken links in cpp_frontend.rst
  advanced_source/cpp_frontend.rst
Labels: cla signed, incorrect link

#3249 Update torchserve_with_ipex.rst
  intermediate_source/torchserve_with_ipex.rst
Labels: cla signed, incorrect link

#3244 [BE][export] add data-dependent section to export tutorial
  en-wordlist.txt
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, torch.compile

#3252 Update FSDP_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed, incorrect link

#3255 Update fx_graph_mode_ptq_static.rst
  prototype_source/fx_graph_mode_ptq_static.rst
Labels: cla signed, incorrect link

#3234 Pull 2.6 binaries
  .ci/docker/requirements.txt
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
Labels: cla signed, 2.6

#3224 Update aoti tutorial
  recipes_source/torch_export_aoti_python.py
Labels: cla signed, 2.6

#3227 Update user-defined triton kernels tutorial with new torch.library.triton_op
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, torch.compile, 2.6

#3202 Validate transformer tutorial builds against 2.6
  .jenkins/validate_tutorials_built.py
  intermediate_source/transformer_building_blocks.py
Labels: cla signed, 2.6

#3260 Add torch.compiler.set_stance tutorial
  recipes_source/recipes_index.rst
  recipes_source/torch_compiler_set_stance_tutorial.py
Labels: cla signed, 2.6

#3167 [1/N] Refine beginner tutorial by accelerator api
  beginner_source/basics/buildmodel_tutorial.py
Labels: cla signed, intro, core, 2.6

#3262 Add MTIA to wordlist
  en-wordlist.txt
Labels: cla signed

#3168 [2/N] Refine beginner tutorial by accelerator api
  beginner_source/basics/quickstart_tutorial.py
  beginner_source/basics/tensorqs_tutorial.py
Labels: cla signed, 2.6

#3170 [3/N] Refine beginner tutorial by accelerator api
  beginner_source/chatbot_tutorial.py
  beginner_source/introyt/tensors_deeper_tutorial.py
  beginner_source/knowledge_distillation_tutorial.py
  beginner_source/nn_tutorial.py
Labels: cla signed, skip-link-check, 2.6

#3265 Cherry-pick: [ONNX] Update dynamo_export tutorial (#3196)
  .jenkins/validate_tutorials_built.py
  _static/img/onnx/custom_addandround.png
  _static/img/onnx/custom_addandround_function.png
  _static/img/onnx/custom_addandround_model.png
  _static/img/onnx/custom_aten_add_function.png
  _static/img/onnx/custom_aten_add_model.png
  _static/img/onnx/custom_aten_gelu_model.png
  _static/img/onnx/image_classifier_onnx_model_on_netron_web_ui.png
  _static/img/onnx/image_clossifier_onnx_modelon_netron_web_ui.png
  beginner_source/onnx/export_simple_model_to_onnx_tutorial.py
  beginner_source/onnx/intro_onnx.py
  beginner_source/onnx/onnx_registry_tutorial.py
Labels: cla signed, skip-link-check, 2.6

#3266 Cherry-pick: Fix torchrl scripts for PT 2.6 TorchRL>=0.6 (#3199)
  .jenkins/validate_tutorials_built.py
  advanced_source/coding_ddpg.py
  advanced_source/pendulum.py
  intermediate_source/dqn_with_rnn_tutorial.py
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, skip-link-check

#3130 Fix export tutorial
  .jenkins/validate_tutorials_built.py
  intermediate_source/torch_export_tutorial.py
Labels: cla signed, 2.6

#3190 [WIP][4/N] Refine beginner tutorial by accelerator api
  beginner_source/examples_autograd/polynomial_autograd.py
  beginner_source/fgsm_tutorial.py
  beginner_source/transfer_learning_tutorial.py
Labels: cla signed, 2.6

#3267 Update lychee.toml
  lychee.toml
Labels: cla signed, build issue

#3250 Recommend cpython agnosticism in cpp custom op tutorial
  advanced_source/cpp_custom_ops.rst
Labels: cla signed

#3233 Update spellcheck to run only on changed files
  .github/workflows/spelling.yml
  .pyspelling.yml
  README.md
  beginner_source/colab.rst
  beginner_source/introyt/tensors_deeper_tutorial.py
Labels: cla signed

#3269 Update what's new in tutorials for 2.6 release
  index.rst
Labels: cla signed, 2.6

#3270 Move back to use stable binaries 2.6
  .ci/docker/requirements.txt
  .jenkins/build.sh
Labels: cla signed, 2.6

#3257 change torch.cuda.amp.GradScaler to torch.GradScaler("cuda")
  recipes_source/recipes/amp_recipe.py
Labels: cla signed, CUDA, amp
