Repository pytorch/tutorials, pull requests merged in 2025-05, with the labels that each got.

#3345 Move back to 2.7
  .ci/docker/requirements.txt
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
  conf.py
Labels: cla signed, 2.7

#3317 GPUDirect Storage prototype tutorial
  .jenkins/validate_tutorials_built.py
  prototype_source/gpu_direct_storage.py
  prototype_source/prototype_index.rst
Labels: cla signed, 2.7

#3281 Remove unused sin_triton in triton tutorial
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, stale

#3356 Update distributed_checkpoint_recipe.rst
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, distributed

#3357 Fix incorrect filename
  beginner_source/basics/README.txt
Labels: cla signed

#3359 Improve discoverability of the transformer_building_blocks tutorial
  intermediate_source/transformer_building_blocks.py
  prototype_source/nestedtensor.py
Labels: cla signed

#3360 Fix broken link in prototype_index
  prototype_source/prototype_index.rst
Labels: cla signed

#3355 [build] Monkeypatch gen_rst to call inside subprocess
  .jenkins/validate_tutorials_built.py
  conf.py
Labels: cla signed

#3358 FSDP2 tutorial
  _static/img/distributed/fsdp_implicit.png
  index.rst
  intermediate_source/FSDP1_tutorial.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed

#3361 remove obsolete encoding headers
  beginner_source/examples_autograd/polynomial_autograd.py
  beginner_source/examples_autograd/polynomial_custom_function.py
Labels: cla signed

#3314 Fix typos in README and tutorial_submission_policy.md
  README.md
  tutorial_submission_policy.md
Labels: cla signed

#3365 Fix link format
  prototype_source/nestedtensor.py
Labels: cla signed, website
