Repository pytorch/tutorials, pull requests merged in 2025-04, with the labels that each got.

#3311 Add system requirements to compile tutorial
  intermediate_source/torch_compile_tutorial.py
Labels: cla signed

#3316 Fix minor issue in layout.html
  _templates/layout.html
Labels: cla signed, website

#3324 Run tutorials on g5
  .github/workflows/build-tutorials.yml
Labels: cla signed, build issue

#3325 Disable reasoning_about_shapes.py
  .jenkins/validate_tutorials_built.py
Labels: cla signed

#3319 Add Context Parallel tutorial
  prototype_source/context_parallel.rst
  prototype_source/prototype_index.rst
Labels: cla signed, 2.7

#3293 [Intel GPU] Docs of XPUInductorQuantizer
  _static/img/pt2e_quant_xpu_inductor.png
  prototype_source/prototype_index.rst
  prototype_source/pt2e_quant_xpu_inductor.rst
Labels: cla signed, module: xpu, 2.7

#3309 Update Inductor windows tutorial with xpu support
  _static/img/install_msvc.png
  prototype_source/inductor_windows.rst
  prototype_source/inductor_windows_cpu.rst
  prototype_source/prototype_index.rst
Labels: cla signed, module: xpu, 2.7

#3330 Pull 2.7 binaries
  .ci/docker/requirements.txt
  .jenkins/build.sh
  .jenkins/validate_tutorials_built.py
Labels: cla signed, 2.7

#3318 Foreach_map tutorial
  recipes_source/foreach_map.py
  recipes_source/recipes_index.rst
Labels: cla signed, 2.7

#3320 Torch Function modes x torch.compile tutorial
  recipes_source/recipes_index.rst
  recipes_source/torch_compile_torch_function_modes.py
Labels: cla signed, 2.7

#3340 Remove Docs Survey Banner
  _templates/layout.html
Labels: cla signed, website

#3339 Fix code snippet format issue in inductor_windows
  prototype_source/inductor_windows.rst
Labels: cla signed, website, 2.7

#3341 Add a note that foreach feature is a prototype
  recipes_source/foreach_map.py
Labels: cla signed

#3338 Updating tutorials for 2.7.
  index.rst
Labels: cla signed, 2.7

#3343 fix index format issue
  prototype_source/inductor_windows.rst
Labels: cla signed, website

#3333 fix a typo in optimization_tutorial.py
  beginner_source/basics/optimization_tutorial.py
Labels: cla signed, grammar

#3321 PyTorch 2 Export Quantization for OpenVINO torch.compile backend
  en-wordlist.txt
  prototype_source/openvino_quantizer.rst
  prototype_source/prototype_index.rst
Labels: cla signed

#3344 Fix typos in colab.rst
  beginner_source/colab.rst
Labels: cla signed, grammar
