Repository pytorch/tutorials, pull requests merged in 2025-07, with the labels that each got.

#3413 Removing Torchserve tutorial per Tutorial audit T228334528
  intermediate_source/torchserve_with_ipex.rst
  redirects.py
Labels: cla signed

#3427 Update tutorials image to CUDA-12.6
  .ci/docker/build.sh
Labels: cla signed

#3430 Fix a broken link in intro.py
  beginner_source/basics/intro.py
Labels: cla signed

#3435 Profiler Recipe Update
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, Profiler, module: profiler, tutorials_audit

#3433 Task T228334710 update tuning guide
  recipes_source/recipes/tuning_guide.py
Labels: cla signed, tutorials_audit

#3434 Update channels_last memory format tutorial
  intermediate_source/memory_format_tutorial.py
Labels: cla signed, tutorials_audit

#3437 Fix formatting to follow template for Profiler Recipe
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, Profiler, module: profiler, tutorials_audit, pytorch_doc_audit

#3440 Removing the rest of quant related tutorials
  Makefile
  _static/img/thumbnails/cropped/graph-mode-dynamic-bert.png
  prototype_source/README.txt
  prototype_source/graph_mode_dynamic_bert_tutorial.rst
  prototype_source/prototype_index.rst
  redirects.py
Labels: cla signed, tutorials_audit

#3441 [build] Do not do process isolation on win or mac
  conf.py
Labels: cla signed, build issue

#3439 Update "GPU Quantization with TorchAO"
  prototype_source/gpu_quantization_torchao_tutorial.py
Labels: cla signed, tutorials_audit

#3445 Remove inferance from torchrec_intro_tutorial.py
  .ci/docker/requirements.txt
  .jenkins/validate_tutorials_built.py
  intermediate_source/torchrec_intro_tutorial.py
Labels: cla signed, tutorials_audit

#3446 Update distributed checkpoint recipes
  recipes_source/distributed_async_checkpoint_recipe.rst
  recipes_source/distributed_checkpoint_recipe.rst
Labels: cla signed, tutorials_audit

#3458 Create torch_compile_conv_bn_fuser tutorial adapted from fx_conv_bn_fuser
  .jenkins/validate_tutorials_built.py
  index.rst
  intermediate_source/fx_conv_bn_fuser.py
  intermediate_source/fx_profiling_tutorial.py
  intermediate_source/torch_compile_conv_bn_fuser.py
Labels: cla signed, tutorials_audit

#3453 Remove references to TorchScript in docs
  advanced_source/cpp_export.rst
  advanced_source/torch-script-parallelism.rst
  advanced_source/torch_script_custom_classes.rst
  advanced_source/torch_script_custom_classes/CMakeLists.txt
  advanced_source/torch_script_custom_classes/custom_class_project/CMakeLists.txt
  advanced_source/torch_script_custom_classes/custom_class_project/class.cpp
  advanced_source/torch_script_custom_classes/custom_class_project/custom_test.py
  advanced_source/torch_script_custom_classes/custom_class_project/export_attr.py
  advanced_source/torch_script_custom_classes/custom_class_project/save.py
  advanced_source/torch_script_custom_classes/infer.cpp
  advanced_source/torch_script_custom_classes/run.sh
  advanced_source/torch_script_custom_classes/run2.sh
  advanced_source/torch_script_custom_ops.rst
  advanced_source/torch_script_custom_ops/CMakeLists.txt
  advanced_source/torch_script_custom_ops/op.cpp
  advanced_source/torch_script_custom_ops/smoke_test.py
  advanced_source/torch_script_custom_ops/test.py
  beginner_source/Intro_to_TorchScript_tutorial.py
  prototype_source/README.txt
  prototype_source/torchscript_freezing.py
  recipes_source/distributed_optim_torchscript.rst
  recipes_source/torchscript_inference.rst
  redirects.py
Labels: cla signed, tutorials_audit

#3464 Migrate fsdp1 -> fsdp2 in Tensor Parallelism Tutorial
  intermediate_source/TP_tutorial.rst
Labels: cla signed, tutorials_audit

#3468 [ez][BE] Apply lintrunner to non tutorials files
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/scripts/docathon-label-sync.py
  .github/workflows/MonthlyLinkCheck.yml
  .github/workflows/StalePRs.yml
  .github/workflows/link_checkPR.yml
  .github/workflows/spelling.yml
  .jenkins/build.sh
  .jenkins/post_process_notebooks.py
  .lintrunner.toml
  .lycheeignore
  CONTRIBUTING.md
  docathon-leaderboard.md
  redirects.py
  tutorial_submission_policy.md
Labels: cla signed

#3471 minor fix to render failure in torchscript depcrecation warning
  advanced_source/cpp_export.rst
  advanced_source/torch_script_custom_ops.rst
Labels: cla signed

#3465 Using DTensor to handle local num_heads change while TP is applied
  intermediate_source/TP_tutorial.rst
Labels: cla signed

#3472 Update tutorial of device mesh to use fsdp2
  recipes_source/distributed_device_mesh.rst
Labels: cla signed

#3451 Migrate to new theme
  .ci/docker/requirements.txt
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.2.1.js
  _static/jquery.js
  _static/js/custom.js
  _static/js/modernizr.min.js
  _static/searchtools.js
  _static/underscore-1.3.1.js
  _static/underscore.js
  _static/websupport.js
  _templates/layout.html
  compilers_index.rst
  conf.py
  custom_directives.py
  deep-dive.rst
  distributed.rst
  domains.rst
  ecosystem.rst
  extension.rst
  index.rst
  intro.rst
  prototype_source/prototype_index.rst
  recipes_source/recipes_index.rst
Labels: cla signed, skip-link-check

#3476 fix recipe and prototype index
  deep-dive.rst
  ecosystem.rst
  prototype_source/prototype_index.rst
  recipes_source/recipes_index.rst
Labels: cla signed

#3477 [distributed] point to fsdp2 and remove fsdp1 in distributed overview
  beginner_source/dist_overview.rst
Labels: cla signed

#3479 remove fsdp1 from distributed homepage
  distributed.rst
Labels: cla signed

#3482 Pull the latest sphinx theme
  .ci/docker/requirements.txt
Labels: cla signed

#3480 remove fsdp1 advanced tutorial from index
  index.rst
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed

#3483 Update theme
  .ci/docker/requirements.txt
Labels: cla signed

#3474 Upgrade torchrl and tensordict requirements
  .ci/docker/requirements.txt
Labels: cla signed

#3486 updates for ipex example page
  recipes_source/intel_extension_for_pytorch.rst
Labels: cla signed, tutorials_audit

#3470 Add a standalone tutorial for integrating custom op using sycl for Intel GPU
  advanced_source/cpp_custom_ops_sycl.rst
  advanced_source/custom_ops_landing_page.rst
Labels: cla signed, 2.8
