Repository pytorch/tutorials, pull requests merged in 2025-09, with the labels that each got.

#3532 fix deprecated env var
  unstable_source/flight_recorder_tutorial.rst
Labels: cla signed

#3527 Fix FSDPModule reference
  intermediate_source/FSDP_tutorial.rst
Labels: cla signed

#3540 Fixing Broken Links
  CONTRIBUTING.md
  README.md
  advanced_source/generic_join.rst
  intermediate_source/rpc_tutorial.rst
  unstable_source/context_parallel.rst
Labels: cla signed

#3541 Update theme to latest commit
  .ci/docker/requirements.txt
Labels: cla signed

#3492 Fix #3186 - create leaf/non-leaf/requires_grad/retain_grad tutorial
  _static/img/thumbnails/cropped/understanding_leaf_vs_nonleaf.png
  _static/img/understanding_leaf_vs_nonleaf/comp-graph-1.png
  _static/img/understanding_leaf_vs_nonleaf/comp-graph-2.png
  beginner_source/understanding_leaf_vs_nonleaf_tutorial.py
  index.rst
  intro.rst
Labels: cla signed, advanced, tutorial-proposal, docathon-h1-2025, hard

#3536 Add XPU support to torchvision_tutorial.py
  intermediate_source/torchvision_tutorial.py
Labels: cla signed, intel

#3548 [BE] Fix typo and sort redirects
  index.rst
  redirects.py
Labels: cla signed

#3549 Update PyTorch Sphinx theme version to fix 404.html
  .ci/docker/requirements.txt
Labels: cla signed, build issue

#3550 Disable multiprocessing dataloader in tensorboard tutorial and ignore tensorboard deprecation warning
  intermediate_source/tensorboard_tutorial.rst
Labels: cla signed

#3561 Delete FlexAttention + NJT composition from tutorial
  intermediate_source/transformer_building_blocks.py
Labels: cla signed

#3574 Change PyTorch Sphinx theme version in requirements
  .ci/docker/requirements.txt
Labels: cla signed

#3575 Fix broken links in reinforcement.ppo doc
  intermediate_source/reinforcement_ppo.py
Labels: cla signed, incorrect link

#3576 Delete cuda_rpc tutorial
  recipes_index.rst
  recipes_source/cuda_rpc.rst
  redirects.py
Labels: cla signed, pytorch_doc_audit

#3570 Update C++ frontend tutorial with template, working MNIST download link, and newer C++ / CMake versions
  advanced_source/cpp_frontend.rst
Labels: cla signed, tutorials_audit

#3593 Remove dangling comma from save/load example
  beginner_source/basics/saveloadrun_tutorial.py
Labels: cla signed

#3591 Delete PyTorch Inference Performance Tuning on AWS Graviton Processors
  recipes_index.rst
  recipes_source/inference_tuning_on_aws_graviton.rst
  redirects.py
Labels: cla signed, tutorials_audit, pytorch_doc_audit

#3592 Delete Whole Slide Image Classification tutorial
  .lintrunner.toml
  _static/img/tiatoolbox_tutorial/read_bounds_tissue.webp
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_001.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_002.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_003.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_004.png
  _static/img/tiatoolbox_tutorial/tiatoolbox_tutorial_005.png
  _static/tiatoolbox_tutorial.ipynb
  index.rst
  intermediate_source/tiatoolbox_tutorial.rst
  redirects.py
Labels: cla signed

#3595 Remove hybrid frontend tutorial
  beginner_source/hybrid_frontend/README.txt
  beginner_source/hybrid_frontend/learning_hybrid_frontend_through_example_tutorial.py
  beginner_source/hybrid_frontend_tutorial.rst
  redirects.py
Labels: cla signed

#3599 Sparse Semi Sturcutred Tutorial audit
  advanced_source/semi_structured_sparse.py
  redirects.py
  unstable_index.rst
  unstable_source/semi_structured_sparse.rst
Labels: cla signed, tutorials_audit, pytorch_doc_audit

#3600 Learning PyTorch with Examples Audit
  beginner_source/examples_nn/polynomial_nn.py
  beginner_source/examples_nn/polynomial_optim.py
  beginner_source/examples_tensor/polynomial_numpy.py
  beginner_source/examples_tensor/polynomial_tensor.py
  beginner_source/pytorch_with_examples.rst
Labels: cla signed, tutorials_audit, pytorch_doc_audit

#3603 Fix async cp recipe
  recipes_source/distributed_async_checkpoint_recipe.rst
Labels: cla signed

#3601 realtime_rpi: updated for raspberry pi 5
  intermediate_source/realtime_rpi.rst
Labels: cla signed, tutorials_audit, pytorch_doc_audit

#3602 Deep Learning 60min Blitz Audit
  beginner_source/blitz/cifar10_tutorial.py
Labels: cla signed, tutorials_audit, pytorch_doc_audit

#3382 Update a link in the autograd_tutorial.py
  beginner_source/blitz/autograd_tutorial.py
Labels: cla signed, incorrect link
