Repository pytorch/tutorials, pull requests merged in 2025-08, with the labels that each got.

#3489 Move prototype to unstable
  .ci/docker/requirements.txt
  .gitignore
  .jenkins/download_data.py
  .jenkins/validate_tutorials_built.py
  .lintrunner.toml
  conf.py
  index.rst
  recipes_index.rst
  unstable_index.rst
  unstable_source/README.md
  unstable_source/README.txt
  unstable_source/backend_config_tutorial.rst
  unstable_source/context_parallel.rst
  unstable_source/distributed_rpc_profiling.rst
  unstable_source/flight_recorder_tutorial.rst
  unstable_source/gpu_direct_storage.py
  unstable_source/gpu_quantization_torchao_tutorial.py
  unstable_source/inductor_cpp_wrapper_tutorial.rst
  unstable_source/inductor_windows.rst
  unstable_source/inductor_windows_cpu.rst
  unstable_source/ios_coreml_workflow.rst
  unstable_source/ios_gpu_workflow.rst
  unstable_source/lite_interpreter.rst
  unstable_source/maskedtensor_adagrad.py
  unstable_source/maskedtensor_advanced_semantics.py
  unstable_source/maskedtensor_overview.py
  unstable_source/maskedtensor_sparsity.py
  unstable_source/max_autotune_on_CPU_tutorial.rst
  unstable_source/nestedtensor.py
  unstable_source/nnapi_mobilenetv2.rst
  unstable_source/openvino_quantizer.rst
  unstable_source/python_extension_autoload.rst
  unstable_source/semi_structured_sparse.rst
  unstable_source/skip_param_init.rst
  unstable_source/tracing_based_selective_build.rst
  unstable_source/vmap_recipe.py
  unstable_source/vulkan_workflow.rst
Labels: cla signed, skip-link-check

#3510 redirect windows prototype tutorial to unstable
  redirects.py
Labels: cla signed

#3511 Update index.rst
  index.rst
Labels: cla signed

#3513 Update redirects.py
  redirects.py
Labels: cla signed

#3389 Visualizing gradients tutorial (issue #3186)
  _static/img/thumbnails/cropped/visualizing_gradients_tutorial.png
  index.rst
  intermediate_source/visualizing_gradients_tutorial.py
  intro.rst
Labels: cla signed, advanced, tutorial-proposal, docathon-h1-2025, hard

#3531 ci: Change PyTorch Sphinx theme to specific commit
  .ci/docker/requirements.txt
Labels: cla signed
