Repository pytorch/tutorials, pull requests merged in 2025-06, with the labels that each got.

#3371 Update obsolete function "read_image" to "decode_image"
  beginner_source/basics/data_tutorial.py
Labels: cla signed, module: vision

#3379 Add download instructions for pretrained model in dynamic quantization tutorial
  advanced_source/dynamic_quantization_tutorial.py
Labels: cla signed, easy, docathon-h1-2025

#3377 docs: Fix incorrect usage description of ctx.save_for_backward
  beginner_source/examples_autograd/polynomial_custom_function.py
Labels: cla signed, core, medium, docathon-h1-2025

#3378 Add import os to example code block
  intermediate_source/ddp_tutorial.rst
Labels: bug, cla signed, distributed, easy, docathon-h1-2025

#3381 Remove Markdown backticks, use RST syntax for code block
  beginner_source/introyt/introyt1_tutorial.py
Labels: cla signed, website, easy, docathon-h1-2025

#3387 Update CONTRIBUTING.md
  README.md
Labels: cla signed, medium, contributing, docathon-h1-2025

#3393 Fix XPU and CUDA tables in profiler recipe.
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, website, easy, intel, docathon-h1-2025

#3394 remove unnecessary term XPUs from profiler
  recipes_source/recipes/profiler_recipe.py
Labels: cla signed, docathon-h1-2025

#3402 Remove PyTorch Cheat Sheet
  .github/workflows/link_checkPR.yml
  beginner_source/PyTorch Cheat.md
  beginner_source/ptcheat.rst
Labels: cla signed

#3369 fix broken URL
  beginner_source/hyperparameter_tuning_tutorial.py
Labels: cla signed, incorrect link

#3407 Removing torchserve card from recipes list, per T228127035.
  recipes_source/recipes_index.rst
Labels: cla signed

#3411 Add explaination of AutotuneCache to torch compile cache tutorial
  recipes_source/torch_compile_caching_tutorial.rst
Labels: cla signed

#3408 Cleanup directories before pushing to gh-pages
  .jenkins/build.sh
Labels: cla signed, ci

#3418 Remove the Bundled Inputs tutorial
  recipes_source/bundled_inputs.rst
  redirects.py
Labels: cla signed, website, pytorch_doc_audit

#3415 Remove vt_tutorial.py
  beginner_source/vt_tutorial.py
  index.rst
Labels: cla signed
