Repository pytorch/tutorials, pull requests merged in 2025-03, with the labels that each got.

#3223 [ONNX] Update API to torch.onnx.export(..., dynamo=True)
  _static/img/onnx/custom_addandround.png
  _static/img/onnx/custom_aten_gelu_model.png
  beginner_source/onnx/README.txt
  beginner_source/onnx/export_control_flow_model_to_onnx_tutorial.py
  beginner_source/onnx/export_simple_model_to_onnx_tutorial.py
  beginner_source/onnx/intro_onnx.py
  beginner_source/onnx/onnx_registry_tutorial.py
  beginner_source/onnx/onnx_toc.txt
Labels: cla signed, skip-link-check

#3287 [ONNX] Add and fix custom cards for ONNX
  index.rst
Labels: cla signed, website

#3282 Fixes backward definition in triton tutorial
  recipes_source/torch_compile_user_defined_triton_kernel_tutorial.py
Labels: cla signed, triton

#3283 Update data_loading_tutorial.py
  beginner_source/data_loading_tutorial.py
Labels: cla signed, core

#3289 Add Docs Survey
  _templates/layout.html
Labels: cla signed, website

#3284 Add OOV token handling to character-level RNN tutorial
  intermediate_source/char_rnn_classification_tutorial.py
Labels: cla signed, rl, core

#3290 Tags in tj-actions/changed-files are compromised
  .github/workflows/link_checkPR.yml
Labels: cla signed

#3291 Fix broken links in introyt_index.html
  beginner_source/introyt/introyt_index.py
Labels: cla signed, incorrect link

#3292 docs/fix tensor description in `Other copy directions`.
  intermediate_source/pinmem_nonblock.py
Labels: cla signed

#3295 Fix issue with the post-processing script
  .jenkins/post_process_notebooks.py
Labels: cla signed, build automation

#3299 Fix python custom ops tutorial
  advanced_source/python_custom_ops.py
Labels: cla signed

#3197 [ROCm] Update C++ Extension Tutorial for AMD GPU
  advanced_source/cpp_extension.rst
Labels: cla signed, module: rocm

#3300 Update onnxscript in requirements
  .ci/docker/requirements.txt
Labels: cla signed

#3298 Bump torchrl and tensordict to 0.7.2
  .ci/docker/requirements.txt
  .jenkins/validate_tutorials_built.py
  advanced_source/coding_ddpg.py
  advanced_source/semi_structured_sparse.py
  intermediate_source/reinforcement_ppo.py
Labels: dependencies, cla signed, rl, skip-link-check

#3306 Fix the AOTI example
  intermediate_source/torch_export_tutorial.py
  recipes_source/torch_export_aoti_python.py
Labels: cla signed

#3307 Fix typo in README
  README.md
Labels: cla signed, grammar
